//----------------------------------------------------//
// Inputs & Form & Controls														//
//----------------------------------------------------//
	fieldset {
		display: block;
		text-align: center;
	}

	label {
		display: block;
		&:hover {
			cursor: pointer;
		}
	}

	// Inputs
	//----------------------------------------------------//
	textarea,
	.input {
		color: $gray1;
		font: 400 13px $font;
		border: 2px solid transparent;
		outline: 0;
		box-shadow: none;
		transition: all .3s ease-in-out;
		-webkit-appearance: none;
		border-radius: 0;
		//@include placeholderColor($gray1);
		display: block;
		width: 100%;
		padding: 15px 25px;
		&:focus {
			border-color: #696969;
			background-color: #fff;
		}
		&.error {
		}
		&.disabled,
		&[disabled="disabled"],
		&[disabled] {
			background-color: #f3f3f3;
		}
		&--border {
			
		}
	}
.input {
	&--border {
		border: 1px solid $gray4;
		@include placeholderColor($gray3);
		padding: 17px 21px 15px;
	}
}
	textarea {
		height: 150px;
	}

	input[type="file"] {
		display: none;
		& + label {
			display: block;
			background: #fff;
			font-size: 14px;
			line-height: 24px;
			padding: 25px 15px;
			color: #969696;
			text-align: center;
			border: 1px dashed #c4c4c4;
			transition: .2s ease-in-out;
			&:hover {
				border-color: #696969;
				background: #e9e9e9;
			}
		}
	}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

//----------------------------------------------------//
// SELECT [INPUT]																			//
//----------------------------------------------------//
select {
	display: block;
	@include clearSelect;
	transition: none;
	border: 0;
	fill: #ced3db;
	color: $gray1;
	font: 400 14px $font;
  padding: 18px 30px 14px;
  background: transparent;
  display: block;
  width: 100%;
	&:focus {
		border: 0;
	}

}
.default-select {
	position: relative;
	display: block;
	border: 1px solid $gray3;
	border-right: 0;
	&__ico {
		width: 10px;
		height: 7px;
		fill: #6c737e;
		display: block;
		position: absolute;
		top: calc(50% - 3.5px);
		right: 20px;
		transition: all .3s;
	}
	&:last-child {
		border-right: 1px solid $gray3;
	}
}
	
	.ui-front {
		z-index: 9999;
	}
	.ui-selectmenu-button {
		border: 1px solid #939393; 
		border-radius: 0;
		background: #f3f3f3;
		color: #282828;
		&[aria-expanded="true"] {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border: 1px solid #8e8e8e;
			span.ui-icon-triangle-1-s {
			} 
		}
		span.ui-selectmenu-text {
			padding: 10px 15px 9px;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
		span.ui-icon-triangle-1-s {
			width: 45px;
			height: 100%;
			right: 0;
			top: 0;
			bottom: 0;
			border-left: 1px solid #939393;
			background: url('../img/icons/slct-open.png') center center no-repeat;
			margin: 0;
		}
	}
	.ui-selectmenu-menu {
		.ui-widget-content {
			border-radius: 0;
			background: #f3f3f3;
			color: #282828;
			.ui-menu-item {
				padding: 10px 15px 9px;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				&.ui-state-focus {
					border: 0;
					margin: 0;
					font-weight: inherit;
				}
			}
		}
	}

	// Buttons
	//----------------------------------------------------//
	button,
	.btn {
		font-family: $font;
		font-size: 13px;
		background: transparent;
		border: 2px solid transparent;
		outline: 0;
		padding: 14px 39px 16px;
		transition: all .3s;
		display: inline-block;
		line-height: normal;
		text-align: center;
		&:hover,
		&.active {
			transition: all .3s;
		}
		&:focus {
			
		}
		&.disabled,
		&[disabled="disabled"], 
		&[disabled] {
			background: #ccc;
			color: #aaa;
			cursor: not-allowed;
		}
		&__text {
			display: inline-block;
			vertical-align: middle;
		}
		&__ico {
			display: inline-block;
			vertical-align: middle;
			fill: inherit;
			margin-right: 9px;
		}
		&--green {
			background: $green1;
			color: $white;
			font-weight: 900;
			&:hover {
				background: $white;
				border-color: $gray1;
				color: $gray1;
			}
		}
		&--gray {
			background: $gray2;
			color: $gray1;
			fill: $gray1;
			font-weight: 400;
			&:hover {
				color: $white;
				fill: $white;
				background: $gray3;
			}
		}
		&--gray2 {
			background: $gray4;
			color: $white;
			font-weight: 900;
			&:hover {
				background: $gray2;
				color: $gray1;
			}
		}
		&--white {
			background: $white;
			color: $gray1;
			font-weight: 400;
			&:hover {
				color: $white;
				background: $gray3;
			}
		}
		&--gray3 {
			background: $gray6;
			color: $gray1;
			font-weight: 400;
			&:hover {
				color: $gray1;
				background: $gray4;
			}
		}
		&--phone {
			padding: 11px 23px 16px 20px;
			.btn__text {
				position: relative;
				top: 2px;
			}
		}
		&--red {
			color: $white;
			font: 700 15px $font;
			fill: $white;
			background: $red1;
			border-color: transparent;
	    padding: 10px 20px 12px;
			&:hover {
				background: $white;
				border-color: $red1;
				color: $red1;
				fill: $red1;
			}
		}
	}


	// Checkbox
	//----------------------------------------------------//
	input[type="checkbox"] {
		position: absolute;
		left: -9999px;
		
		&:not(:checked) + label {
			&:before {
			}
			&:after {
				opacity: 0;
			}
		}
		&:checked + label {
			&:before {
				border-color: transparent;
				background: $green1;
			}
			&:after {
				opacity: 1;
			}
		}
		&:disabled:checked + label {
			color: $gray3;
			&:before {
				border-color: $gray3;

			}
		}
		&:disabled:not(:checked) + label {
			color: $gray3;
			&:before {
				border-color: $gray3;
			}
		}
	}
	.check-label {
		display: inline-block;
		vertical-align: top;
		padding: 0 0 0 41px;
		position: relative;
		cursor: pointer;
		font-size: 15px;
		line-height: 24px;
		width: auto !important;
		color: $gray1;
		&:before, &:after  {
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			left: 0;
			top: calc(50% - 10px);
			transition: all .3s;
		}
		&:before {
			background-color: transparent;
			border: 1px solid $gray4;
		}
		&:after {
			border: 1px solid transparent;
			@include retina-sprite($check-group);
			top: calc(50% - 6px);
    	left: 3px;
		}
	}

	// Radio
	//----------------------------------------------------//
	input[type="radio"] {
		position: absolute;
		left: -9999px;
		& + label {
			display: inline-block;
			vertical-align: top;
			padding: 0 0 0 30px;
			position: relative;
			cursor: pointer;
			font-size: 15px;
			line-height: 24px;
			width: auto !important;
			color: $gray1;
			&:before, &:after  {
				position: absolute;
				content: '';
				width: 20px;
				height: 20px;
				border-radius: 50%;
				left: 0;
				top: calc(50% - 10px);
				transition: all .3s;
			}
			&:before {
				background-color: transparent;
				border: 1px solid $gray1;
			}
			&:after {
				border: 1px solid transparent;
				background: $green1;
				width: 10px;
				height: 10px;
				top: calc(50% - 5px);
				left: 5px;
			}
		}
		&:not(:checked) + label {
			&:before {
				
			}
			&:after {
				opacity: 0;
			}
		}
		&:checked + label {
			&:before {
				//border-color: transparent;
			}
			&:after {
				opacity: 1;
			}
		}
		&:disabled:checked + label {
			color: $gray3;
			&:before {
				border-color: $gray3;
			}
		}
		&:disabled:not(:checked) + label {
			color: $gray3;
			&:before {
				border-color: $gray3;
			}
		}
	}



	// Stars Rating
	//----------------------------------------------------//
	.rating-stars {
	  @include clearfix;
	  &.static {
		  pointer-events: none;
	  }
	  &:not(old) {
	    display: inline-block;
	    vertical-align: top;
	    > input[type="radio"] {
	      margin-right: -100%;
	      opacity: 0;
	      display: none;
	    }
	    > label {
	      display: block;
	      float: right;
	      position: relative;
	      margin: 0 1px 0 0;
	      padding: 0;
	      text-indent: -9999%;
	      overflow: hidden;
	      top: 0;
	      // @include sprite($stars-green-empty);
	      &:after {
	        content: '';
	        position: absolute;
	        left: 0;
	        top: 0;
	        opacity: 0;
	        transition: opacity 0.2s linear;
	        // @include sprite($stars-green);
	      }
	      &:before {
	        display: none;
	      }
	    }
	  }
	}

	.rating-stars:not(old) > label:hover:after,
	.rating-stars:not(old) > label:hover ~ label:after,
	.rating-stars:not(:hover) > :checked ~ label:after {
	  opacity : 1;
	}

	.rating-stars.static {
		// @include sprite($stars-gray);
		position: relative;
		.inner {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			bottom: 0;
			// @include sprite($stars-yellow);
		}
	}

	
//----------------------------------------------------//
// JQUI => DATEPICKER																	//
//----------------------------------------------------//
.ui-datepicker {
	width: 242px;
	border-radius: 4px;
	box-shadow: 0 0 2px #ccc;
	padding: 10px !important;
	display: none;
	.ui-widget-header {
		background: #fff;
		border: 0;
		border-radius: 0;
		padding: 5px 35px 13px;
		.ui-datepicker-prev, .ui-datepicker-next {
			position: absolute;
			font-family: 'mymobstr-pt';
			top: 14px;
			color: #9B9B9B;
			font-size: 24px;
			height: 24px;
			width: 24px;
			&:hover {
				background: #fff;
				border: 0;
				text-decoration: none;
			}
		}
		.ui-datepicker-prev {
			left: 10px;
			&:before {
				content: '\e6fe';
			}
		}
		.ui-datepicker-next {
			right: 10px;
			&:before {
				content: '\e6ff';
			}
		}
		.ui-datepicker-title {
			color: #333;
			font-size: 14px;
			line-height: 18px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.ui-datepicker-calendar {
		margin: 0 -10px;
		padding: 0 10px;
	}
	thead {
		th {
			font-size: 12px;
			line-height: 16px;
			color: #9B9B9B;
			font-weight: 600;
			text-transform: uppercase;
			padding: 0 0 6px;
		}
	}
	tbody {
		tr {
			td {
				.ui-state-default {
					font-size: 12px;
					line-height: 16px;
					font-weight: 600;
					padding: 5px 8px;
					color: #333;
					border: 0;
					background: #fff;
					display: block;
					text-align: center;
					&.ui-state-hover{
						border: 0;
						background: #eee;
						text-decoration: none;
					}
					&.ui-state-highlight {
						color: #fff;
					}
					&.ui-state-active {
						background: #eee;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.arrow {
	width: 50px;
	height: 50px;
	background: $white;
	border-radius: 50%;
	border: 2px solid $gray1;
	display: inline-block;
	text-align: center;
	font-size: 28px;
	color: $gray1;
	line-height: 46px;
	position: relative;
	display: flex;
	
	.ico {
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		margin: auto;
	}
	&:hover {
		border-color: transparent;
		background: $green1;
		color: $white;
	}
	&-inner {
		display: inline-block;
	}
}

/* Start style for table */
table {
	margin: 0 0 $mainFontHeight;
	font: 400 13px $font;
	color: $gray1;
	th {
		text-align: left;
		padding: 20px 19px 14px;
		height: 50px;
		background: $white;
		width: 25%;
		&:nth-child(2n + 1) {
			background: $gray6;
		}
	}
	td {
		font-weight: 400;
    padding: 9px 21px 5px;
    height: 30px;
    width: 25%;
		&:nth-child(2n + 1) {
			background: $gray6;
		}
	}
	tbody {
		tr:nth-child(2n+1) {
			td:nth-child(2n+1) {
				background: #d8dce4;
			}
			td:nth-child(2n) {
				background: #e6e9ed;
			}
		}
	}
}
/* Finish style for table */