.baby-buggy-ico {
	width: 71px;
	height: 80px;
}
.babys-dummy-ico {
	width: 42px;
	height: 76px;
}
.jacket-ico {
	width: 84px;
	height: 84px;
}
.shoes-ico {
	width: 51px;
	height: 82px;
}
.extraterrestrial-ico {
	width: 51px;
	height: 90px;
}

.menu-red-ico {
	width: 18px;
	height: 12px;
}
.search-white-ico {
	width: 18px;
	height: 18px;
}
.shopping-bag-ico {
	width: 18px;
	height: 20px;
}
.user-ico {
	width: 17px;
	height: 17px;
}
.logo-ico {
	width: 117px;
	height: 30px;
}
.map-red-ico {
	width: 12px;
	height: 16px;
}
.phone-red-ico {
	width: 18px;
	height: 7px;
}

.vk-ico {
	width: 12px;
	height: 16px;
}
.fb-ico {
	width: 10px;
	height: 18px;
}
.inst-ico {
	width: 20px;
	height: 20px;
}

.ring-black-ico {
	width: 24px;
	height: 19px;
}

.shopping-bag-timeout-ico {
	width: 48px;
	height: 48px;
	@include b(mobile) {
		width: 36px;
		height: 36px;
	}
}
.calendar-heart-ico {
	width: 44px;
	height: 42px;
	@include b(mobile) {
		width: 34px;
		height: 32px;
	}
}
.auction-ico {
	width: 48px;
	height: 48px;
	@include b(mobile) {
		width: 36px;
		height: 36px;
	}
}
.bank-note-fire-ico {
	width: 48px;
	height: 48px;
	@include b(mobile) {
		width: 36px;
		height: 36px;
	}
}

.timer-black-ico {
	width: 23px;
	height: 23px;
}

.sort-ico {
	width: 14px;
	height: 10px;
}
.view-ico {
	width: 13px;
	height: 11px;
}
.star-ico {
	width: 20px;
	height: 19px;
}

//popups ico
.messengers-ico {
	width: 24px;
	height: 22px;
}
.whatsup-modal-ico {
	width: 30px;
	height: 30px;
}
.viber-modal-ico {
	width: 30px;
	height: 30px;
}
.vk-modal-ico {
	width: 30px;
	height: 30px;
}
.fb-modal-ico {
	width: 30px;
	height: 30px;
}
.phone-modal-ico {
	width: 14px;
	height: 14px;
}
.close-modal-ico {
	width: 14px;
	height: 14px;
}
.enter-modal-ico {
	width: 24px;
	height: 24px;
}
.registration-modal-ico {
	width: 23px;
	height: 20px;
}
.change-pass-modal-ico {
	width: 14px;
	height: 19px;
}
.successful-modal-ico {
	width: 20px;
	height: 20px;
}
.coupon-modal-ico {
	width: 24px;
	height: 18px;
}
.popular-brand-modal-ico {
	width: 20px;
	height: 22px;
}
.callback-modal-ico {
	width: 21px;
	height: 21px;
}
.ruler-modal-ico {
	width: 21px;
	height: 21px;
}
.comment-modal-ico {
	width: 24px;
	height: 24px;
}
.woman-modal-ico {
	width: 20px;
	height: 39px;
}
.man-modal-ico {
	width: 20px;
	height: 39px;
}
.cart-modal-ico {
	width: 20px;
	height: 20px;
}
.delivery-modal-ico {
	width: 16px;
	height: 21px;
}
.delivery-min-modal-ico {
	width: 16px;
	height: 21px;
}



.basket-confirm-ico {
	width: 220px;
	height: 198px;
}
.basket-confirm-min-ico {
	width: 24px;
	height: 24px;
}
.open-book-ico {
	width: 18px;
	height: 14px;
}
.size-grey-ico {
	width: 18px;
	height: 10px;
}
.arow-down-ico {
	width: 10px;
	height: 6px;
}
.filter-ico {
	width: 18px;
	height: 12px;
}








//navigation ico
.navigation-01-ico {
	width: 57px;
	height: 54px;
	@include b(tablet) {
		width: 39.9px;
		height: 37.8px;
	}
}
.navigation-02-ico {
	width: 55px;
	height: 54px;
	@include b(tablet) {
		width: 38.5px;
		height: 37.8px;
	}
}
.navigation-03-ico {
	width: 59px;
	height: 50px;
	@include b(tablet) {
		width: 41.3px;
		height: 35px;
	}
}
.navigation-04-ico {
	width: 61px;
	height: 51px;
	@include b(tablet) {
		width: 42.7px;
		height: 35.7px;
	}
}

.tv-ico {
	width: 24px;
	height: 24px;
}
.popular-tv-ico {
	width: 21px;
	height: 18px;
}
.toy-child-ico {
	width: 24px;
	height: 24px;
}
.contact-book-mob-ico {
	width: 18px;
	height: 20px;
}
.service-mob-ico {
	width: 18px;
	height: 18px;
}

.delivery-tk-ico {
	width: 22px;
	height: 16px;
}
.delivery-ems-ico {
	width: 16px;
	height: 20px;
}
.delivery-time-ico {
	width: 24px;
	height: 24px;
}

.sale-rules-ico {
	width: 17px;
	height: 22px;
}
.exchanges-return-ico {
	width: 24px;
	height: 24px;
}
.accumulative-discount-ico {
	width: 20px;
	height: 18px;
}


// icon for shelbik
.shelbik-1-ico {
	width: 16px;
	height: 14px;
}

.eye-ico {
	width: 18px;
	height: 12px;
}

.minus-ico {
	width: 12px;
	height: 2px;
}
.plus-ico {
	width: 12px;
	height: 12px;
}

.scrollTop-arrow-ico {
	width: 10px;
	height: 7px;
}