//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	height: 100%;
	min-width: 320px;
	background: $white1;
	@include b(tablet) {
		background: $white;
	}
}

.container {
	padding: 0 60px;
	max-width: 1420px;
	margin: 0 auto; 
	@include clearfix;
	@include b(tablet) {
		padding: 0 30px;
	}
}

$footerHeight: 242px; 
 
.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

.content {
	position: relative;
	//z-index: 10;
}
//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//
.header {

	&--noBottom {
		.header__bottom {
			display: none;
		}
	}
	
	&__top {
		padding: 0 20px;
		background: $red1;
		@include clearfix;
		position: relative;
		font-size: 0;
		z-index: 100;
		@include b(tablet) {
			padding: 0 15px;
		}
		&-left {
			float: left;
			display: table;
			line-height: 1;
			& > * {
				display: table-cell;
				vertical-align: middle;
				height: 50px;
			}
		}
		&-right {
			float: right;
			display: table;
			line-height: 1;
			& > * {
				display: table-cell;
				vertical-align: middle;
				height: 50px;
			}
		}
	}

	&__bottom {
		@include clearfix;
		background: $white;
		padding: 9px 26px 7px;
		&-left {
			float: left;
		}
		&-right {
			float: right;
		}
		@include b(tablet) {
			display: none;
		}
	}

	&-catalog {
    padding-right: 47px;
    border-right: 1px solid $red2;
    position: relative;
    width: 150px;
    @include b(tablet) {
    	width: 110px;
    }
    @include b(tablet) {
    	width: auto;
    	padding: 0;
    	border: 0;
    }

		&__ico {
			display: inline-block;
			fill: $white;
			vertical-align: middle;
			margin-right: 20px;
			@include b(tablet) {
				margin-right: 0;
			}
		}

		&__link {
			font: 100 12px/50px $font;
			color: $white;
			text-transform: uppercase;
			border: 0;
			text-decoration: none;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: -1px;
			margin: auto;
			text-decoration: none;
			@include b(tablet) {
				position: static;
				display: block;
				padding: 0 15px;
			}
			&-text {
				display: inline-block;
				vertical-align: middle;
				@include b(tablet) {
					display: none;
				}
			}
			&:hover {
				opacity: .6;
				text-decoration: none;
				color: $white;
			}
		}

		&__drop {
			position: fixed;
			top: 0;
			bottom: 0;
			left: -360px;
			width: 360px;
			background: $white;
			padding: 17px 20px 30px;
			z-index: 9999;
			transition: all .3s;
			visibility: hidden;
			overflow: hidden;
			&.active {
				left: 0;
				transition: all .3s;
				visibility: visible;
				.header-mob-menu__list-link {
					&.js-open-navBar {
						display: none;
					}
					&.js-clsoe-navBar {
						display: flex;
					}
				}
			}
			&.open-submenu {
				.header-nav__head-left {
					display: none;
				}
				.header-nav__head-submenu {
					display: block;
				}
				.header-nav__head {
					@include b(tablet) {
				    border-bottom: 1px solid $gray6;
					}
				}
			}
			@include b(tablet) {
				width: 100%;
				left: -100%;
				padding-top: 0;
			}
		}

	}

	&-search {
    width: 350px;
    border-right: 1px solid $red2;
    position: relative;
    @include b(desktop) {
			width: 250px;
		}
    @include b(1100) {
    	width: 200px;
    }
    @include b(tablet) {
    	width: 200px;
    	display: none;
    }
    @include b(tablet) {
    	border: 0;
    	width: auto;
    	text-align: center;
    	transition: all .3s;
    	position: static;
    	right: 70px;
    	background: transparent;
    	z-index: 10;
    	&.active {
    		
    		.header-search__form {
    			width: 100%;
    			transform: scale(1);
    		}
    		.header-search__input {
    			padding-left: 50px;
    			padding-right: 25px;
    			width: 100%;
    		}
    		.header-search__close {
    			visibility: visible;
    			opacity: 1;
    			z-index: 0;
    		}
    	}
    }

    &-mob {
	    position: absolute;
	    cursor: pointer;
	    display: none;
	    transition: all .3s;
	    padding-top: 15px;
	    height: 50px;
	    width: 50px;
	    right: 65px;
	    top: 0;
	    @include b(tablet) {
	    	display: block;
	    }
    	&__ico {
    		fill: $white;
    	}
    	&:hover {
    		opacity: .6;
    		transition: all .3s;
    	}
    }

    &__close {
    	position: absolute;
    	right: 20px;
    	top: calc(50% - 7px);
    	fill: $gray1;
    	cursor: pointer;
    	visibility: hidden;
    	opacity: 0;
    	z-index: -10;
    	display: none;
    	transition: all .3s;
    	@include b(tablet) {
    		display: block;
    	}
    }

		&__form {
			transition: all .3s;
			@include b(tablet) {
				position: absolute;
				width: 100%;
				transform: scale(0,1);
				right: 0;
				background: $white;
				top: 50px;
				overflow: hidden;
				box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.75);
			}
			&.is-value {
				
				.header-search__input {
					border: 0;
					background: $white;
					&+.header-search__link {
						fill: $gray1;
					}
				}
			}
		}

		&__input {
			transition: all .3s;
			padding: 17px 25px 17px 50px;
			font: 700 13px $font;
			background: transparent;
			border: 0;
			color: $gray1;
			@include placeholderColor($white);
			&:focus {
				border: 0;
				&+.header-search__link {
					fill: $gray1;
				}
			}
			@include b(tablet) {
				padding-right: 0;
				padding-left: 0;
				width: 0;
				&.active {
					border: 0;
					&+.header-search__link {
						fill: $gray1;
					}
				}
			}

		}
		&__ico {
			fill: inherit;
			display: inline-block;
			vertical-align: middle;
		}

		&__link {
			position: absolute;
			top: calc(50% - 9px);
			left: 20px;
			border: 0;
			background: none;
			padding: 0;
			fill: $white;
			z-index: 2;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}


	}

	&-login {
		padding: 0 35px 0;
		@include b(tablet) {
			padding: 0 25px;
		}
		@include b(tablet) {
			display: none;
		}

		&__ico {
			display: inline-block;
			vertical-align: middle;
			fill: $white;
			margin-right: 6px;
			position: relative;
			top: -1px;
		}

		&__link {
			color: $white;
			font: 700 13px $font;
			border: 0;
			text-decoration: none;
			padding: 0 8px;
			display: block;
			height: 50px;
			line-height: 48px;
			text-decoration: none;
			&-text {
				display: inline-block;
				vertical-align: middle;
			}
			&:hover {
				opacity: .6;
				text-decoration: none;
				color: $white;
			}
		}

		&--invited {
			position: relative;
			.header-login__link-text {
		    overflow: hidden;
		    max-width: 110px;
		    text-overflow: ellipsis;
		    white-space: nowrap;
			}
			.header-login__ico {
				margin-right: 40px;
				top: 1px;
			}
		}

		&__box {
			position: relative;
		}

		&__percent {
			position: absolute;
			background: $white;
			color: $red1;
			font: 700 11px $font;
			padding: 3px;
			text-align: center;
			display: block;
			top: 8px;
			left: 29px;
			&:before {
				@include before-img(0,0);
				border: 5px solid transparent;
				border-bottom-color: $white;
				left: -5px;
				bottom: 2px;
			}
		}

		.modal {
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 40;
			opacity: 0;
			transition: all .3s;
			visibility: hidden;
			overflow: auto;
			&.active {
				z-index: 999;
				visibility: visible;
				opacity: 1;
				transition: all .3s;
			}
			@include b(tablet) {
				overflow-x: scroll;
			}
		}

	}

	&-basket {
		padding: 0;

		&__ico {
			display: inline-block;
			vertical-align: baseline;
			fill: $white;
			margin-right: 6px;
		}

		&__link {
			color: $white;
			font: 700 13px $font;
			border: 0;
			text-decoration: none;
			display: block;
			height: 100%;
			line-height: 50px;
			padding: 3px 8px 0;
			height: 50px;
			text-decoration: none;
			&-text {
				display: inline-block;
				vertical-align: baseline;
				position: relative;
				top: -2px;
			}
			&:hover {
				opacity: .6;
				text-decoration: none;
				color: $white;
			}
		}

		.modal {
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 40;
			opacity: 0;
			transition: all .3s;
			visibility: hidden;
			overflow: auto;
			&.active {
				z-index: 999;
				visibility: visible;
				opacity: 1;
				transition: all .3s;
			}
			@include b(tablet) {
				overflow-x: scroll;
			}
		}

	}

	&__logo {
		position: absolute;
		left: calc(50% - 58.5px);
		top: calc(50% - 15px);
		@include b(desktop) {
			
		}
		@include b(tablet) {
			left: calc(50% - 39px);
			top: 0;
		}

		&-link {
			display: block;
			fill: $white;
			border: 0;
			text-decoration: none;
			&:hover {
				fill: $red3;
				text-decoration: none;
			}
			@include b(tablet) {
				padding: 15px 20px;
			}
		}

		&-ico {
			display: block;
			fill: inherit;
			@include b(tablet) {
				width: 78px;
				height: 20px;
			}
		}

	}

	&-place {
		border: 0;
		text-decoration: none;
		&:hover {
			transition: all .3s;
			text-decoration: none;
			.header-place__city {
				color: $black;
			}
			.header-place__delivery {
				color: $gray1;
			}
		}

		&__ico {
			fill: $red1;
			display: inline-block;
			vertical-align: middle;
			margin-right: 14px;
		}

		&__city {
			color: $gray1;
			font: 400 15px $font;
			display: inline-block;
			margin-right: 12px;
			transition: all .3s;
		}

		&__delivery {
			color: $gray3;
			font: 400 13px $font;
			display: inline-block;
			border-color: transparent;
			transition: all .3s;
		}

	}

	&-contacts {
		position: relative;

		&__ico {
			fill: $red1;
			display: inline-block;
			vertical-align: middle;
			margin-right: 16px;
		}

		&__phone {
			color: $gray1;
			font: 400 13px $font;
			display: inline-block;
			margin-right: 10px;
			border: 0;
			text-decoration: none;
			&:hover {
				color: $black;
				text-decoration: none;
			}
		}

		&__more {
			color: $gray3;
			font: 400 13px $font;
			display: inline-block;
			border: 0;
			text-decoration: none;
			&:hover {
				color: $gray1;
				text-decoration: none;
			}
		}


	}

	&-nav {
		position: relative;
		@include b(tablet) {
			padding-top: 0;
		}

		.js-scroll-panel-nav {
			overflow: hidden;
			overflow-y: auto;
			margin: 0 -20px;
			padding: 0 20px;
		}

		.modal__close {
			top: -20px;
			right: -20px;
			&-ico {
				width: 12px;
				height: 12px;
			}
			@include b(tablet) {
				top: 0;
				padding: 18px;
			}
		}

		&__new {
			display: inline-block;
			color: $white;
			font: 900 10px/20px $font;
			text-transform: uppercase;
			background: $green1;
			border-radius: 10px;
			height: 20px;
			width: 40px;
			text-align: center;
			margin-left: 10px;
		}

		&__head {
			border-bottom: 1px solid $gray6;
			margin: 0 -20px;
			padding: 0 20px 16px;
			@include b(tablet) {
				padding-top: 16px;
				border: 0;
			}
			
			&-left {
				display: inline-block;
				vertical-align: middle;
				padding-right: 14px;
				@include b(tablet) {
					display: none;
				}
			}

			&-ico {
				fill: $red1;
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
				@include b(tablet) {
					display: none;
				}
			}

			&-text {
				display: inline-block;
				vertical-align: middle;
				color: $gray1;
				font: 100 12px $font;
				text-transform: uppercase;
			}

			&-submenu {
				display: none;
				&-link {
					color: $gray1;
					font: 100 12px/1 $font;
					text-transform: uppercase;
					border: 0;
					fill: $gray4;
					display: table;
					padding: 10px;
					margin: 0 0 -20px -10px;
					position: relative;
					top: -10px;
					text-decoration: none;
					&:hover {
						color: $red1;
						text-decoration: none;
					}
				} 
				&-ico {
					display: inline-block;
					vertical-align: middle;
					fill: inherit;
					margin-right: 20px;
					width: 16px;
					height: 16px
				}
				&-text  {
					display: inline-block;
					vertical-align: middle;
				}

			}

		}

		&__navigation {
			position: relative;
			margin: 0 -20px;
			padding-top: 10px;
			transition: all .3s;
			display: block;
			&.open {
				transition: all .3s;
				position: absolute;
				opacity: 0;
				visibility: hidden;
				display: none;
			}

			&-link {
				display: block;
				fill: $gray3;
				border: 0;
				color: $gray1;
				font: 400 0px/74px $font;
				padding: 0 20px;
				height: 80px;
				text-decoration: none;
				&:hover {
					background: $white1;
					fill: $red1;
					text-decoration: none;
				}
			}

			&-ico {
				display: inline-block;
				vertical-align: middle;
				fill: inherit;
				&-box {
					width: 80px;
					display: inline-block;
					vertical-align: middle;
				}
			}

			&-text {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 80px);
				font-size: 14px;
			}

		}

		&__content {
			line-height: 1;
			margin: 0 -20px;
			position: relative;
			// padding: 0 0 16px 0;
			visibility: hidden;
			opacity: 0;
			transition: right .5s;
			position: absolute;
			top: 150px;
			right: 0;
			display: none;
			&.active {
				visibility: visible;
				position: relative;
				opacity: 1;
				right: 0;
				top: 0;
				transition: right .5s;
				display: block;
			}
			&--top-buble {

			}
			&--bottom-buble {
				min-height: 100%;
				padding-bottom: 130px;
			}
			&-top {
				border-bottom: 1px solid $gray6;
				overflow: hidden;
				padding: 16px 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&-title {
				color: $gray1;
				font: 400 14px $font;
				float: left;
				padding-right: 15px;
			}
			&-all {
				font: 400 13px $font;
				color: $gray3;
				float: right;
				padding-left: 15px;
				border: 0;
				text-decoration: none;
				&:hover {
					color: $gray1;
					text-decoration: none;
				}
			}
		}

		&__list {
			padding: 10px 0 16px;

			&-item {
			}

			&-link {
				border: 0;
				color: $gray1;
				font: 400 14px $font;
				fill: $gray10;
				display: block;
				position: relative;
				padding: 10px 20px 11px;
				text-decoration: none;
				&:hover {
					background: $white1;
					fill: $red1;
					text-decoration: none;
				}
				&.active {
					transition: all .3s;
					.header-nav__list-sub-ico {
						transform: rotate(-90deg);
					}
				}
			}

			&-ico {
				fill: inherit;
				display: inline-block;
				vertical-align: middle;
				
			}

			&-text {
				padding-left: 10px;
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 50px);
			}

			&-sub-ico {
				position: absolute;
				right: 20px;
				top: calc(50% - 5px);
				width: 6px;
				height: 10px;
				fill: $gray10;
				transition: all .3s;
				transform: rotate(90deg);
			}

		}

		&-submenu {
			background: $white;
			&__box {
				overflow: hidden;
			}
			&__top {
				padding: 13px 20px 4px 70px;
			}
			&__ico {
				fill: $gray10;
				display: inline-block;
				vertical-align: middle;
			}
			&__title {
				display: inline-block;
				vertical-align: middle;
				color: $gray3;
				font: 400 13px  $font;
				border: 0;
				text-decoration: none;
				&:hover {
					color: $gray1;
					text-decoration: none;
				}
			}
			&__back {
				padding: 0 20px;
				border-bottom: 1px solid $gray6;
				@include clearfix;
				&-link {
					float: left;
					border: 0;
					width: 50%;
					height: 40px;
					line-height: 40px;
					margin: 0 0 0 -20px;
					padding: 0 0 0 20px;
					text-decoration: none;
					&:hover {
						opacity: .6;
						text-decoration: none;
					}
				}
				&-ico {
					width: 6px;
					height: 10px;
					fill: $gray10;
					display: inline-block;
					vertical-align: middle;
				}
				&-text {
					display: inline-block;
					vertical-align: middle;
					color: $gray1;
					font: 400 13px/1 $font;
					padding-left: 15px;
				}
			}
			&__all-items {
				color: #434a54;
    		font: 400 13px/1 "Lato";
    		float: right;
    		border: 0;
    		width: 50%;
				height: 40px;
				line-height: 40px;
				margin: 0 -20px 0 0;
				padding: 0 20px 0 0;
				text-align: right;
				text-decoration: none;
    		&:hover {
    			opacity: .6;
    			text-decoration: none;
    		}
			}
			&__list {
				padding: 3px 70px 3px;
				&-item {
					
				}
				&-link {
					color: $gray1;
					font: 400 13px $font;
					display: block;
					border: 0;
					margin: 0 -70px;
					padding: 7px 40px 7px 70px;
					position: relative;
					text-decoration: none;
					&:hover {
						color: $red1;
						text-decoration: none;
					}
					&.active {
						transition: all .3s;
						.header-nav__list-sub-ico {
							transform: rotate(-90deg);
						}
					}
				}
			}
		}

		&-submenu2 {
			padding: 10px 20px 10px 0;
			margin-right: -70px;
			
			&__list {
				&-item {
					
				}
				&-link {
					color: $gray1;
					font: 400 13px $font;
					display: table;
					border: 0;
					padding: 7px 21px;
					text-decoration: none;
					&:hover {
						color: $red1;
						text-decoration: none;
					}
				}
			}
		}

		&__hr {
			background: $gray6;
			height: 1px;
			margin: 5px 40px 5px 70px;
		}

	}

	&-mob-menu {
		background: $red1;
		height: 50px;
		margin: 0 -20px;
		display: none;
		@include b(tablet) {
			display: block;
		}
		&__list {
			white-space: nowrap;
			background: $red1;
			&.parent-active {
				position: relative;
				z-index: 200;
				.header-mob-menu__list-link {
					&.js-open-navBar {
						display: flex;
					}
					&.js-clsoe-navBar {
						display: none;
					}
				}
			}
			&-item {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				
				&:last-child {
					.header-mob-menu__list-box {
						&:before {
							display: none;
						}
					}
				}
				&:first-child {
					.header-mob-menu__list-box {
						&.active {
							z-index: 0;
						}
					}
				}
				
				&--hamburger {
					width: 62px;
					height: 50px;
					.header-mob-menu__list-block {
						position: absolute;
						top: 0;
						left: 0;
						width: 62px;
						height: 50px;
					}
				}
				
				&--search {
					// position: static;
				}

			}
			&-block {
				&:before {
					@include before-img(1px, 60%);
					background: $red2;
					right: 0;
					top: calc(50% - 30%);
				}
				&.active {
					z-index: 200;
					&:before {
						display: none;
					}
					.header-mob-menu__list-link {
						background: $white;
						fill: $red1;
						&:hover {
							opacity: 1;
						}
					}
				}
			}
			&-link {
				border: 0;
				padding: 0 24px;
				height: 50px;
				display: flex;
				fill: $white;
				color: $white;
				font: 900 12px $font;
				align-items: center;
				text-decoration: none;
				&-text {
					display: inline-block;
					vertical-align: middle;
					text-transform: uppercase;
					padding-left: 10px;
					text-decoration: none;
				}
				&:hover {
					opacity: .6;
					color: $white;
					text-decoration: none;
				}
			}
			&-box {
				margin: auto;
			}
			&-ico {
				display: inline-block;
				vertical-align: middle;
				fill: inherit;
			}

			.header-search {
				display: block;
				&-mob {
					position: static;
				}
				&__form {
					position: fixed;
					z-index: 100;
				}
			}
		}
		.modal {
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			width: 100%;
			z-index: 40;
			opacity: 0;
			transition: all .3s;
			visibility: hidden;
			border-top: 0;
			overflow: auto;
			&.active {
				z-index: 999;
				visibility: visible;
				opacity: 1;
				transition: all .3s;
			}
			@include b(500) {
				position: fixed;
				top: 50px;
				left: 0;
				right: 0;
				width: 100%;
				max-width: 100%;
			}
		}
	}

	&-buble {
		background-size: cover;
		background-repeat: no-repeat;
		height: 130px;
		padding: 22px 28px;
		display: block;
		color: $white;
		font: 700 16px $font;
		border: 0;
		text-decoration: none;
		&--bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&--top {
			margin-top: -1px;
		}
		&:hover {
			opacity: .8;
			text-decoration: none;
			color: $white;
		}
		&__text {
			display: block;
		}

	}

}

//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//
.footer {
	position: relative;
	z-index: 30;
	background: $white1;
	padding: 89px 0 75px;
	@include b(tablet) {
		padding: 37px 0 43px;
	}

	&__top {
		padding-bottom: 69px;
		@include b(tablet) {
			display: none;
		}
	}

	&__center {
		font-size: 0;
		padding-bottom: 84px;
		@include b(tablet) {
			display: none;
		}
		&-left {
			display: inline-block;
			vertical-align: bottom;
			width: 66%;
			padding-right: 30px;
		}
		&-right {
			display: inline-block;
			vertical-align: bottom;
		}
	}

	&__bottom {

	}

	&-box {
		padding: 0 90px;
		@include b(desktop) {
			padding: 0;
		}
		@include b(tablet) {
			padding: 0;
		}
	}
	
	&-nav {
		font-size: 0;
		margin: 0 -15px;
		
		&__col {
			display: inline-block;
			vertical-align: top;
			padding: 0 15px;
			width: 25%;
			&:nth-child(1) {
				width: 29%;
			}
			&:nth-child(2) {
				width: 28%;
			}
			&:nth-child(3) {
				width: 23%;
			}
			&:nth-child(4) {
				width: 20%;
			}
			@include b(tablet) {
				padding-bottom: 30px;
				width: 33.33%;
				&:nth-child(1) {
					width: 33.3%;
				}
				&:nth-child(2) {
					width: 33.3%;
				}
				&:nth-child(3) {
					width: 33.3%;
				}
				&:nth-child(4) {
					width: 33.3%;
				}
			}
		}

		&__title {
			@extend %title-border;
			color: $gray1;
			font: 900 12px $font;
			text-transform: uppercase;
	    letter-spacing: 2.4px;
	    margin-bottom: 27px;
			display: block;
		}

		&__phone {
			margin-top: 29px;
			@include b(desktop) {
				display: block;
				width: 100%;
				padding-left: 5px;
				padding-right: 5px;
			}
			@include b(1150) {
				.btn__ico {
					display: none;
				}
			}
		}

	}

	.subscription {
		&__form {
			max-width: 575px;
			&-left {
				width: calc(100% - 160px);
				padding-right: 15px;
			}
			&-right {
				width: 160px;
			}
		}
	}

	.social {
		margin: 0 auto;
		display: table;
	}

	&__copyright {
		display: block;
		color: $gray5;
		font: 400 11px/25px $font;
		&-top {
			display: block;
		}
		@include b(tablet) {
			font: 400 13px/20px $font;
			color: $gray1;
			&-top {
				font-size: 14px;
				padding-bottom: 21px;
			}
			.mobile-br {
				display: block;
			}
		}
	}

}