//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
	background: #fff;
  color: $mainFontColor;
  font-family: $mainFont, $fixFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainFontHeight;
  @include b(tablet) {
  	line-height: 20px;
  }
}
h1, h2, h3, h4, h5, h6 {
	font-family: $mainFont, $fixFont;
	margin: 0;
	padding: 0;
	color: $gray1;
}
h1 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 700;
	padding-bottom: 30px;
	@include b(tablet) {
		font-size: 18px;
	}
}
h2 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	padding-bottom: 25px;
	@include b(tablet) {
		font-size: 16px;
		line-height: 20px;
	}
}
h3 {
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
	padding-bottom: 17px;
	@include b(tablet) {
		font-size: 13px;
	}
}
h4 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	padding-bottom: 13px;
}
h5 {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	padding-bottom: 10px;
}
h6 {
	font-size: 12px;
	line-height:16px;
	padding-bottom: 8px;
}

p {
	padding: 0 0 $mainFontHeight;  
	margin: 0;
}

hr {
	overflow: hidden;
	height: 1px;
	background: #e9e9e9;
	border: 0;
	margin: 32px 0;
}

q,
blockquote {
	text-align: center;
	display: block;
	font-style: italic;
	padding: 0 0 $mainFontHeight;
}

strong,
b {
	font-weight: 700;
}

a {	
	color: #ff5454;
	text-decoration: none;
	border-bottom: 1px solid #ff5454;
	transition: all .3s;
	&.button {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
a:hover {
	text-decoration: none; 
	border-color: transparent;
	transition: all .3s;
}
a:active {}
a:visited {}

[class*="icon-"] {
	display: inline-block;
	vertical-align: top;
}

.content {
	a {
		&:hover {
		}
	}
}

img[style*="float: left"],
img[style*="float:left"],
img[align="left"] {
	margin: 0 20px 5px 0;
}

img[style*="float: right"],
img[style*="float:right"],
img[align="right"] {
	margin: 0 0 5px 20px;
}

%ul {
	padding: 0 0 $mainFontHeight ;
	li {
		position: relative;
		padding-left: 30px;
		font: 400 13px/30px $font;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 9px;
			width: 6px;
			height: 6px;
			background: $gray1;
			border-radius: 50%;
		}
	}
	@include b(tablet) {
		li {
			line-height: 20px;
			padding-bottom: 10px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}
%title-border {
	position: relative;
	padding-bottom: 17px;
	display: block;
	&:before {
		@include before-img(100px,1px);
  	left: 0;
  	bottom: 0;
  	background: $gray1;
	}
	@include b(tablet) {
		padding-bottom: 5px;
	}
}
.static-content {
	 
	ul {
		@extend %ul;
	}
	
}

.default-list {
	@extend %ul;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	counter-reset: item;
	padding: 0 0 $mainFontHeight ;
	li {
		display: block;
		position: relative;
		font: 400 13px/30px $font;
		&:before { 
			content: counters(item, ".") ". ";
			counter-increment: item;
			display: inline;
			vertical-align: top;
			font-weight: 700;
			margin-right: 16px;
		}
	}
}

.upper {
	text-transform: uppercase;
}

.banner-line {
	width: 100px;
	height: 1px;
	margin: 27px auto 17px;
	background: $gray8;
	@include b(tablet) {
		margin: 0 auto 13px;
	}
}

.read-more {
	border: 0;
	color: $gray1;
	font: 400 13px $font;
}