//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:				'Lato'; 
$mainFontSize:		13px;
$mainFontHeight:	24px;
$mainFontWeight:	400;
$mainFontColor:		#434a54;

$secondFont:				'Verdana'; 
$secondFontSize:		14px;
$secondFontHeight:	22px;
$secondFontWeign:		400;
$secondFontColor:		#525252;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Lato';

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;

$black: #000;

$white: #fff;
$white1: #f5f7fa;

$gray1: #434a54;
$gray2: #e6e9ed;
$gray3: #aab2bd;
$gray4: #ccd1d9;
$gray5: #656d78;
$gray6: #f1f2f6;
$gray7: #757575;
$gray8: #e0e4eb;
$gray9: #b7bdc7;
$gray10: #cdd2da;
$gray11: #d0d4dc;
$gray12: #757575;


$green1: #01c1b4;

$red1: #ff5454;
$red2: #d83f3f;
$red3: #ffb7b7;

$yellow1: #ffce54;


$dark1: #303030;

$orange1: #ffe0e0;