@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})
	<main class="content">
		
		<div class="basket-empty">
			<span class="basket-empty__title">В корзину ничего не добавлено</span>
			
			<!-- watched -->
			<div class="watched">
				<div class="watched__title">вы смотрели</div>
				<div class="watched__content">
					<div class="watched-slider-wrap">
						<div class="watched-slider js-watched-slider">
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-01.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-02.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-03.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-04.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-05.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-06.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-07.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
							<div class="watched-slider__item">
								<div class="product-small">
									<div class="product-small__image">
										<a href="#" class="product-small__image-inner">
											<img src="pic/watched/watched-08.jpg" alt="">
										</a>
									</div>
									<div class="product-small__price">2 630 руб</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- watched end -->

		</div>

	</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 