@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})

	<main class="content blog-page">

		<div class="blog-page__container">
			<h1 class="content__title blog-page__title">Новости, обзоры, луки и видеообзоры от Киндерли</h1>
			<ul class="method__list">
				<li class="method__list-item">
					<a class="method__list-link" href="#">Доставка</a>
					<span class="method__list-line">-</span>
				</li>
				<li class="method__list-item">
					<a class="method__list-link" href="#">Способы оплаты</a>
					<span class="method__list-line">-</span>
				</li>
				<li class="method__list-item">
					<a class="method__list-link" href="#">Кредит</a>
					<span class="method__list-line">-</span>
				</li>
				<li class="method__list-item">
					<a class="method__list-link" href="#">Гарантия</a>
					<span class="method__list-line">-</span>
				</li>
				<li class="method__list-item">
					<a class="method__list-link" href="#">Способы оплаты</a>
					<span class="method__list-line">-</span>
				</li>
				<li class="method__list-item">
					<a class="method__list-link" href="#">Кредит</a>
					<span class="method__list-line">-</span>
				</li>
				<li class="method__list-item">
					<a class="method__list-link" href="#">Гарантия</a>
					<span class="method__list-line">-</span>
				</li>
			</ul>
			<div class="blog-post">
				<ul class="blog-post__list">
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</a>
						<a href="#" class="blog-post__list-text">Еще один аккорд Кендрика Ламара, дополняющий звучание манифеста о примирении двух банд — Crips и Bloods</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Кредит</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
							<div class="blog-post-review">
								<svg class="blog-post-review__ico eye-ico">
									<use xlink:href="#eye"></use>
								</svg>
								<span class="blog-post-review__text">287</span>
							</div>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Puma “Terrace”: лучшее из архивов</a>
						<a href="#" class="blog-post__list-text">От строгих, но удобных костюмов к свитшотам и футболкам — Тодд Снайдер представляет свою интерпретацию культовых силуэтов Champion</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</a>
						<a href="#" class="blog-post__list-text">Еще один аккорд Кендрика Ламара, дополняющий звучание манифеста о примирении двух банд — Crips и Bloods</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Кредит</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</a>
						<a href="#" class="blog-post__list-text">Еще один аккорд Кендрика Ламара, дополняющий звучание манифеста о примирении двух банд — Crips и Bloods</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Кредит</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</a>
						<a href="#" class="blog-post__list-text">Еще один аккорд Кендрика Ламара, дополняющий звучание манифеста о примирении двух банд — Crips и Bloods</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Кредит</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
							<div class="blog-post-review">
								<svg class="blog-post-review__ico eye-ico">
									<use xlink:href="#eye"></use>
								</svg>
								<span class="blog-post-review__text">287</span>
							</div>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Puma “Terrace”: лучшее из архивов</a>
						<a href="#" class="blog-post__list-text">От строгих, но удобных костюмов к свитшотам и футболкам — Тодд Снайдер представляет свою интерпретацию культовых силуэтов Champion</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</a>
						<a href="#" class="blog-post__list-text">Еще один аккорд Кендрика Ламара, дополняющий звучание манифеста о примирении двух банд — Crips и Bloods</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Кредит</a>
							</li>
						</ul>
					</li>
					<li class="blog-post__list-item">
						<div class="blog-post__list-image">
							<a href="#" class="blog-post__list-image-link"><img class="blog-post__list-img" src="pic/blog-post/blog-post-01.jpg" alt=""></a>
						</div>
						<time class="blog-post__list-date" datetime="2016-12-21">21 февраля 2016</time>
						<a href="#" class="blog-post__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</a>
						<a href="#" class="blog-post__list-text">Еще один аккорд Кендрика Ламара, дополняющий звучание манифеста о примирении двух банд — Crips и Bloods</a>
						<ul class="blog-post-tag">
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Доставка</a>
							</li>
							<li class="blog-post-tag__item" >
								<a href="#" class="blog-post-tag__link">Способы оплаты</a>
							</li>
							<li class="blog-post-tag__item">
								<a href="#" class="blog-post-tag__link">Кредит</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="pagination">
					<ul class="pagination__list">
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">1</a>
						</li>
						<li class="pagination__list-item pagination__list-item--active">
							<a href="#" class="pagination__list-link">2</a>
						</li>
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">3</a>
						</li>
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">4</a>
						</li>
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">5</a>
						</li>
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">...</a>
						</li>
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">9</a>
						</li>
						<li class="pagination__list-item">
							<a href="#" class="pagination__list-link">
								<svg class="pagination__list-ico">
									<use xlink:href="#arrow-forward-right"></use>
								</svg>
							</a>
						</li>
					</ul>
					<div class="pagination-mob">
						<a href="#" class="pagination-mob__link">
							Следующие 60
							<svg class="pagination-mob-ico">
								<use xlink:href="#arrow-forward-right"></use>
							</svg>
						</a>
					</div>
				</div>
				<a href="#" class="btn btn--green blog-post__more">Ещё материалы</a>
			</div>
		</div>                    

	</main><!-- MAIN CONTENT [END] -->


@@include('template/layout/footer.html')