@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})

	<main class="content blog-article-page">
		<div class="service-back">
			<a href="service.html" class="service-back__link">
				<svg class="service-back__link-ico">
					<use xlink:href="#arrow-back"></use>
				</svg>
				<span class="service-back__link-text">Ко всем статьям</span>
			</a>
		</div>
		<div class="container blog-article">
			<div class="blog-article__top">
				<div class="blog-article__top-right">
					<span class="blog-aside__date">12 февраля 2016</span>
					<div class="blog-aside__share">
						<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
						<script src="//yastatic.net/share2/share.js"></script>
						<div class="ya-share2" data-services="facebook,vkontakte" data-counter="10"></div>
					</div>
				</div>
				<div class="blog-article__top-left">
					<h1 class="content__title blog-article__title">Школьная форма 2016-2017: чем дорогие бренды отличаются 
					от дешевых? Когда покупать одежду к школе?</h1>
					<ul class="method__list mobile-hidden">
						<li class="method__list-item">
							<a class="method__list-link" href="#">Доставка</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Способы оплаты</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Кредит</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Гарантия</a>
							<span class="method__list-line">-</span>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="blog-article__content">
				<div class="blog-article__item">
					<div class="blog-article-slider js-blog-article-slider">
						<ul class="blog-article-slider__list">
							<li class="blog-article-slider__list-item">
								<a class="blog-article-slider__list-link" href="#"><img class="blog-article-slider__list-img" src="pic/blog-article/slide-01.jpg" alt="" title="Дети в школьной форме"></a>
							</li>
							<li class="blog-article-slider__list-item">
								<a class="blog-article-slider__list-link" href="#"><img class="blog-article-slider__list-img" src="pic/blog-article/slide-01.jpg" alt="" title="Дети в школьной форме1"></a>
							</li>
							<li class="blog-article-slider__list-item">
								<a class="blog-article-slider__list-link" href="#"><img class="blog-article-slider__list-img" src="pic/blog-article/slide-01.jpg" alt="" title="Дети в школьной форме2"></a>
							</li>
							<li class="blog-article-slider__list-item">
								<a class="blog-article-slider__list-link" href="#"><img class="blog-article-slider__list-img" src="pic/blog-article/slide-01.jpg" alt="" title="Дети в школьной форме3"></a>
							</li>
						</ul>
						<span class="blog-article-slider__title">Дети в школьной форме</span>
						<div class="blog-article-slider__nav">
							<a href="#" class="blog-article-slider__nav-link blog-article-slider__nav-link--prev">
								<svg class="blog-article-slider__nav-link-ico">
									<use xlink:href="#arrow-back"></use>
								</svg>
							</a>
							<div class="blog-article-slider__count">
								<span class="blog-article-slider__count-text blog-article-slider__count-text--this">1</span>
								<span class="blog-article-slider__count-text blog-article-slider__count-text--slash">/</span>
								<span class="blog-article-slider__count-text blog-article-slider__count-text--max">5</span>
							</div>
							<a href="#" class="blog-article-slider__nav-link blog-article-slider__nav-link--next">
								<svg class="blog-article-slider__nav-link-ico">
									<use xlink:href="#arrow-back"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="static-content">
						<p>В нашем обзоре представлены следующие бренды (примечательно, что в большинстве российские):</p>
						<ul>
							<li>Luminoso</li>
							<li>Flamingo</li>
							<li>Alaska Originale</li>
							<li>Kuoma</li>
							<li>Bebendorff</li>
							<li>Скороход</li>
						</ul>
						<h3>Luminoso</h3>
						<p>Уже довольно известная марка трикотажной одежды для детей от 9 до 14 лет, которую выпускает компания Sweet Berry. Коллекция школьной одежды впервые выходит в этом году. Это недорогой сегмент и хорошее соотношение цена-качество.</p>
						<p>Костюмная группа пока представлена не очень широко, так как только начали производство.</p>
					</div>
					<div class="blog-article-slider js-blog-article-slider-preview blog-article-slider--preview">
						<div class="blog-article-slider__box">
							<ul class="blog-article-slider__list">
								<li class="blog-article-slider__list-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/slide-02.jpg" alt="" title="Дети в школьной форме">
								</li>
								<li class="blog-article-slider__list-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/slide-01.jpg" alt="" title="Дети в школьной форме1">
								</li>
								<li class="blog-article-slider__list-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/slide-02.jpg" alt="" title="Дети в школьной форме2">
								</li>
								<li class="blog-article-slider__list-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/slide-01.jpg" alt="" title="Дети в школьной форме3">
								</li>
							</ul>
							<ul class="blog-article-slider__preview">
								<li class="blog-article-slider__preview-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/preview/preview-01.jpg" alt="">
								</li>
								<li class="blog-article-slider__preview-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/preview/preview-02.jpg" alt="">
								</li>
								<li class="blog-article-slider__preview-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/preview/preview-01.jpg" alt="">
								</li>
								<li class="blog-article-slider__preview-item">
									<img class="blog-article-slider__list-img" src="pic/blog-article/preview/preview-02.jpg" alt="">
								</li>
							</ul>
						</div>
						<span class="blog-article-slider__title">Дети в школьной форме</span>
					</div>
					<div class="static-content">
						<p>Уже довольно известная марка трикотажной одежды для детей от 9 до 14 лет, которую выпускает компания Sweet Berry. Коллекция школьной одежды впервые выходит в этом году. Это недорогой сегмент и хорошее соотношение цена-качество.</p>
						<p class="mobile-hidden">Костюмная группа пока представлена не очень широко, так как только начали производство.</p>	
						<div class="full-block">
							<p>Итальянское полотно. Как правило, использует более сложные плетения, а потому более прочное и ноское, не лоснится за счет особого скручивания нитей. Из-за более трудоемкого изготовления нитей, а также ткания полотна - и цена дороже.</p>
						</div>	
						<p>Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. Для мыска используется перфорированная замша Wolverine в кремовом цвете, символизирующем взбитые сливки в латте. Подкладка же сделана из износостойкой свиной кожи, гармонирующей с брендингом и по тону напоминающей тыквенное пюре.</p>

						<p class="mobile-hidden">Завершают образ такие детали, как декоративные вкрапления «специй» в подошве и тиснёные рисунки чашки кофе на язычках и стельках. Saucony Grid SD «Pumpkin Spice» — чрезвычайно продуманный релиз, в который вложено много усилий. Смелость представлять его даже в отрыве от Хэллоуина ещё раз доказывает способность расцветки быть привлекательной самостоятельно, в любое время года.</p>	
						<figure class="left mobile-hidden">
							<img src="pic/blog-article/blog-article-01.jpg" alt="">
							<figcaption>
								Небольшая  отцентрованная<br>
								подпись к фотографии
							</figcaption>
						</figure>
						<p class="mobile-hidden">Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. </p>
						<p class="mobile-hidden">Для мыска используется перфорированная замша Wolverine в кремовом цвете, символизирующем взбитые сливки в латте. Подкладка же сделана из износостойкой свиной кожи, гармонирующей с брендингом и по тону напоминающей тыквенное пюре.</p>
						<p class="mobile-hidden">Завершают образ такие детали, как декоративные вкрапления «специй» в подошве и тиснёные рисунки чашки кофе на язычках и стельках. Saucony Grid SD Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. </p>
						<p class="mobile-hidden">Для мыска используется перфорированная замша Wolverine в кремовом цвете, символизирующем взбитые сливки в латте. Подкладка же сделана из износостойкой свиной кожи, гармонирующей с брендингом и по тону напоминающей тыквенное пюре.</p>

					</div>
				</div>
				<div class="blog-article__item">
					<h2 class="blog-article-page__title ">ЗАГОЛОВОК К ВИДЕОБЛОКУ</h2>
					<div class="static-content">
						<img class="image-ident" src="pic/blog-article/slide-02.jpg" alt="">
						<figure class="right mobile-hidden">
							<img src="pic/blog-article/blog-article-01.jpg" alt="">
							<figcaption>
								Небольшая  отцентрованная<br>
								подпись к фотографии
							</figcaption>
						</figure>
						<p class="mobile-hidden">Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. </p>

						<p>Для мыска используется перфорированная замша Wolverine в кремовом цвете, символизирующем взбитые сливки в латте. Подкладка же сделана из износостойкой свиной кожи, гармонирующей с брендингом и по тону напоминающей тыквенное пюре. Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. </p>
						
						<img class="image-cell" src="pic/blog-article/blog-article-02.jpg" alt="" style="padding-right: 10px ">
						<img class="image-cell" src="pic/blog-article/blog-article-03.jpg" alt="" style="padding-left: 10px">
						
						<p class="mobile-hidden">Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. Для мыска используется перфорированная замша Wolverine в кремовом цвете, символизирующем взбитые сливки в латте. Подкладка же сделана из износостойкой свиной кожи, гармонирующей с брендингом и по тону напоминающей тыквенное пюре.</p>
						<p>Завершают образ такие детали, как декоративные вкрапления «специй» в подошве и тиснёные рисунки чашки кофе на язычках и стельках. Saucony Grid SD «Pumpkin Spice» — чрезвычайно продуманный релиз, в который вложено много усилий. Смелость представлять его даже в отрыве от Хэллоуина ещё раз доказывает способность расцветки быть привлекательной самостоятельно, в любое время года.</p>	
						<div class="full-block item-line-block">
							<div class="item-line">
								<div class="item-line__image">
									<img class="item-line__img" src="pic/blog-article/blog-article-04.jpg" alt="">
								</div>
								<div class="item-line__cont">
									<p>От строгих, но удобных костмов к свитшотам и футболкам — Тодд Снайдер представляет свою интерпретацию культовых силуэтов Champion.</p>
								</div>
							</div>
						</div>
						<p class="mobile-hidden">Модель Saucony GRID SD из релиза «Pumkin Spice» смогла вобрать в себя все самые важные детали, что заметно и по материалам конструкции. Основная часть выполнена из премиальной кожи и замши выжженного оранжевого оттенка, а вставка в области пятки создает металлический акцент. Для мыска используется перфорированная замша Wolverine в кремовом цвете, символизирующем взбитые сливки в латте. Подкладка же сделана из износостойкой свиной кожи, гармонирующей с брендингом и по тону напоминающей тыквенное пюре.</p>

						<p class="mobile-hidden">Завершают образ такие детали, как декоративные вкрапления «специй» в подошве и тиснёные рисунки чашки кофе на язычках и стельках. Saucony Grid SD «Pumpkin Spice» — чрезвычайно продуманный релиз, в который вложено много усилий. Смелость представлять его даже в отрыве от Хэллоуина ещё раз доказывает способность расцветки быть привлекательной самостоятельно, в любое время года.</p>
					</div>
				</div>
				<div class="blog-article__item">
					<h2 class="blog-article-page__title ">ЗАГОЛОВОК К ТОВАРНОМУ БЛОКУ</h2>
					<div class="blog-product">
						<ul class="blog-product__list js-blog-product-slider">
							<li class="blog-product__list-item">
								<a href="#" class="blog-product__list-link">
									<div class="blog-product__list-image">
										<div class="blog-product__list-image-inner">
											<img class="blog-product__list-img" src="pic/watched/watched-06.jpg" alt="">
										</div>
									</div>
									<div class="blog-product__list-cont">
										<span class="blog-product__list-title">Nike</span>
										<span class="blog-product__list-text">Кроссовки Pico 4 для девочки (белые)</span>
										<span class="blog-product__list-price">2 190 руб</span>
									</div>
								</a>
							</li>
							<li class="blog-product__list-item">
								<a href="#" class="blog-product__list-link">
									<div class="blog-product__list-image">
										<div class="blog-product__list-image-inner">
											<img class="blog-product__list-img" src="pic/watched/watched-07.jpg" alt="">
										</div>
									</div>
									<div class="blog-product__list-cont">
										<span class="blog-product__list-title">Nike</span>
										<span class="blog-product__list-text">Кроссовки Pico 4 для девочки (белые)</span>
										<span class="blog-product__list-price">2 190 руб</span>
									</div>
								</a>
							</li>
							<li class="blog-product__list-item">
								<a href="#" class="blog-product__list-link">
									<div class="blog-product__list-image">
										<div class="blog-product__list-image-inner">
											<img class="blog-product__list-img" src="pic/blog-article/product/product-03.jpg" alt="">
										</div>
									</div>
									<div class="blog-product__list-cont">
										<span class="blog-product__list-title">Nike</span>
										<span class="blog-product__list-text">Кроссовки Pico 4 для девочки (белые)</span>
										<span class="blog-product__list-price">2 190 руб</span>
									</div>
								</a>
							</li>
							<li class="blog-product__list-item">
								<a href="#" class="blog-product__list-link">
									<div class="blog-product__list-image">
										<div class="blog-product__list-image-inner">
											<img class="blog-product__list-img" src="pic/blog-article/product/product-04.jpg" alt="">
										</div>
									</div>
									<div class="blog-product__list-cont">
										<span class="blog-product__list-title">Nike</span>
										<span class="blog-product__list-text">Кроссовки Pico 4 для девочки (белые)</span>
										<span class="blog-product__list-price">2 190 руб</span>
									</div>
								</a>
							</li>

						</ul>
						<a href="#" class="btn btn--green blog-product__more">Вся коллекция</a>
					</div>
				</div>
				<div class="blog-article-tag">
					<ul class="method__list ">
						<li class="method__list-item">
							<a class="method__list-link" href="#">Доставка</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Способы оплаты</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Кредит</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Гарантия</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Способы оплаты</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Кредит</a>
							<span class="method__list-line">-</span>
						</li>
						<li class="method__list-item">
							<a class="method__list-link" href="#">Гарантия</a>
							<span class="method__list-line">-</span>
						</li>
					</ul>
				</div>	
			</div>
			<aside class="blog-aside">
				
				<div class="blog-aside-posts">
					<span class="blog-aside-posts__title">ПОХОЖИЕ СТАТЬИ</span>
					<ul class="blog-aside-posts__list">
						<li class="blog-aside-posts__list-item">
							<a href="#" class="blog-aside-posts__list-link">
								<div class="blog-aside-posts__list-image">
									<img class="blog-aside-posts__list-img" src="pic/blog-post/blog-post-01.jpg" alt="">
								</div>
								<div class="blog-aside-posts__list-cont">
									<span class="blog-aside-posts__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</span>
									<time class="blog-aside-posts__list-date" datetime="2016-12-12">12 февраля 2016</time>
								</div>
							</a>
						</li>
						<li class="blog-aside-posts__list-item">
							<a href="#" class="blog-aside-posts__list-link">
								<div class="blog-aside-posts__list-image">
									<img class="blog-aside-posts__list-img" src="pic/blog-post/blog-post-01.jpg" alt="">
								</div>
								<div class="blog-aside-posts__list-cont">
									<span class="blog-aside-posts__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</span>
									<time class="blog-aside-posts__list-date" datetime="2016-12-12">12 февраля 2016</time>
								</div>
							</a>
						</li>
						<li class="blog-aside-posts__list-item">
							<a href="#" class="blog-aside-posts__list-link">
								<div class="blog-aside-posts__list-image">
									<img class="blog-aside-posts__list-img" src="pic/blog-post/blog-post-01.jpg" alt="">
								</div>
								<div class="blog-aside-posts__list-cont">
									<span class="blog-aside-posts__list-title">Saucony Grid SD “Pumpkin Spice”: закрывая осенний сезон</span>
									<time class="blog-aside-posts__list-date" datetime="2016-12-12">12 февраля 2016</time>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>	                 

	</main><!-- MAIN CONTENT [END] -->


@@include('template/layout/footer.html')
 