@@include('template/layout/header.html')

	<main class="content text-page">

		<div class="container">
			<div class="shelbik-row">
				<div class="shelbik-line">
					<div class="shelbik shelbik--1">
						<span class="shelbik__text">new</span>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--2">
						<span class="shelbik__text">new</span>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--3">
						<span class="shelbik__text">new</span>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--4">
						<span class="shelbik__text">new</span>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--5">
						<span class="shelbik__text">new</span>
					</div>
				</div>
			</div>
			<div class="shelbik-row">
				<div class="shelbik-line">
					<div class="shelbik shelbik--1">
						<svg class="shelbik__ico shelbik-1-ico">
							<use xlink:href="#shelbik--shelbik-1"></use>
						</svg>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--2">
						<svg class="shelbik__ico shelbik-1-ico">
							<use xlink:href="#shelbik--shelbik-1"></use>
						</svg>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--3">
						<svg class="shelbik__ico shelbik-1-ico">
							<use xlink:href="#shelbik--shelbik-1"></use>
						</svg>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--4">
						<svg class="shelbik__ico shelbik-1-ico">
							<use xlink:href="#shelbik--shelbik-1"></use>
						</svg>
					</div>
				</div>
				<div class="shelbik-line">
					<div class="shelbik shelbik--5">
						<svg class="shelbik__ico shelbik-1-ico">
							<use xlink:href="#shelbik--shelbik-1"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>                   

	</main><!-- MAIN CONTENT [END] -->


@@include('template/layout/footer.html')
 