@@include('template/layout/header.html')

	<main class="content main-page">

		@@include('template/blocks/main-banner.html')

		<div class="mobile-services">
			<div class="container">
				<ul class="mobile-services__list">
					<li class="mobile-services__list-item">
						<a href="#" class="mobile-services__list-box">
							<div class="mobile-services__list-left">
								<svg class="mobile-services__list-ico navigation-01-ico">
									<use xlink:href="#navigation-01"></use>
								</svg>
							</div>
							<div class="mobile-services__list-right">
								<span class="mobile-services__list-text">Одежда и обувь</span>
							</div>
						</a>
					</li>
					<li class="mobile-services__list-item">
						<a href="#" class="mobile-services__list-box">
							<div class="mobile-services__list-left">
								<svg class="mobile-services__list-ico navigation-02-ico">
									<use xlink:href="#navigation-02"></use>
								</svg>
							</div>
							<div class="mobile-services__list-right">
								<span class="mobile-services__list-text">Игры и развитие</span>
							</div>
						</a>
					</li>
					<li class="mobile-services__list-item">
						<a href="#" class="mobile-services__list-box">
							<div class="mobile-services__list-left">
								<svg class="mobile-services__list-ico navigation-03-ico">
									<use xlink:href="#navigation-03"></use>
								</svg>
							</div>
							<div class="mobile-services__list-right">
								<span class="mobile-services__list-text">Для новорождённых</span>
							</div>
						</a>
					</li>
					<li class="mobile-services__list-item">
						<a href="#" class="mobile-services__list-box">
							<div class="mobile-services__list-left">
								<svg class="mobile-services__list-ico navigation-04-ico">
									<use xlink:href="#navigation-04"></use>
								</svg>
							</div>
							<div class="mobile-services__list-right">
								<span class="mobile-services__list-text">Акции</span>>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="child">
			<div class="container">
				<h2 class="main-page__title">НОВЫЕ ПОСТАВКИ</h2>
				<ul class="child__list">
					<li class="child__list-item child__list-item--mob-visible">
						<div class="child__list-box">
							<div class="child__list-image">
								<img class="child__list-img" src="pic/childs/childs-01.jpg" alt="">
							</div>
							<h3 class="child__list-title">Летние коллекции</h3>
							<p class="child__list-text">Весенне-летняя коллекция 2015 года детской одежды итальянской компании 
							De Salitto и Pinetti – это настоящее торжество цвета и многообразие фактур.</p>		
							<a href="#" class="btn btn--green child__list-link">Вся коллекция</a>	
						</div>
					</li>
					<li class="child__list-item">
						<div class="child__list-box">
							<div class="child__list-image">
								<img class="child__list-img" src="pic/childs/childs-02.jpg" alt="">
							</div>
							<h3 class="child__list-title">Токийские мотивы снова в моде!</h3>
							<p class="child__list-text">В настоящее время искусство складывания фигурок из бумаги известно всему миру. Каким бывает оригами и для чего оно нужно детям, читайте в нашей статье.</p>		
							<a href="#" class="btn btn--green child__list-link">Прочитать</a>	
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="mobile-subscription">
			<div class="container">
				<h3 class="mobile-subscription__title">Подпишись на рассылку</h3>
				<span class="mobile-subscription__title-text">с акциями и распродажами!</span>
				<form action="#" class="mobile-subscription__form">
					<div class="mobile-subscription__form-row">
						<input type="text" class="input input--border" placeholder="Имя">
					</div>
					<div class="mobile-subscription__form-row">
						<button type="sybmit" class="btn btn--green mobile-subscription__form-submit">Подписаться</button>
					</div>
				</form>
			</div>
		</div>

		<div class="last-action">
			<div class="container">
				<h2 class="main-page__title last-action__title">ПОСЛЕДНИЕ АКЦИИ</h2>
				<div class="action-block__list js-banner-slider">
					<div class="action-block">
						<div class="action-block__left">
							<img src="pic/childs/childs-06.jpg" alt="">
						</div>
						<div class="action-block__right">
							<div class="action-banner__box">
								<span class="action-banner__title">Детская одежда Crockid</span>
								<span class="action-banner__desc">Футболочки, боди, пижамы, ползунки и многое др.</span>
								<div class="banner-line"></div>
								<span class="action-banner__coupon">код купона: TRIKOTAG20</span>
								<div class="action-banner__proviso">
									<span class="action-banner__proviso-text">условия акции</span>
									<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
								</div>
							</div>
							<div class="action-banner__sticker">
								<span class="action-banner__sticker-val">40%</span>
							</div>
						</div>
					</div>
					<div class="action-block">
						<div class="action-block__left">
							<img src="pic/childs/childs-06.jpg" alt="">
						</div>
						<div class="action-block__right">
							<div class="action-banner__box">
								<span class="action-banner__title">Детская одежда Crockid</span>
								<span class="action-banner__desc">Футболочки, боди, пижамы, ползунки и многое др.</span>
								<div class="banner-line"></div>
								<span class="action-banner__coupon">код купона: TRIKOTAG20</span>
								<div class="action-banner__proviso">
									<span class="action-banner__proviso-text">условия акции</span>
									<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
								</div>
							</div>
							<div class="action-banner__sticker">
								<span class="action-banner__sticker-val">40%</span>
							</div>
						</div>
					</div>
					<div class="action-block">
						<div class="action-block__left">
							<img src="pic/childs/childs-06.jpg" alt="">
						</div>
						<div class="action-block__right">
							<div class="action-banner__box">
								<span class="action-banner__title">Детская одежда Crockid</span>
								<span class="action-banner__desc">Футболочки, боди, пижамы, ползунки и многое др.</span>
								<div class="banner-line"></div>
								<span class="action-banner__coupon">код купона: TRIKOTAG20</span>
								<div class="action-banner__proviso">
									<span class="action-banner__proviso-text">условия акции</span>
									<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
								</div>
							</div>
							<div class="action-banner__sticker">
								<span class="action-banner__sticker-val">40%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="novelty">
			<div class="container">
				<h2 class="main-page__title novelty__title">ПОСЛЕДНИЕ АКЦИИ</h2>
				<ul class="novelty__list js-default-slider">
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-01.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-02.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-03.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-04.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-01.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-02.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-03.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
					<li class="novelty__list-item" itemscope itemtype="http://schema.org/Product">
						<div class="novelty__list-box">
							<a itemprop="image" href="#" class="novelty__list-image">
								<img class="novelty__list-img" src="pic/items/items-04.jpg" alt="">
							</a>
							<div itemprop="name"><a href="#" class="novelty__list-title">Mayoral</a></div>
							<span itemprop="description" class="novelty__list-text">Спортивный костюм для мальчика (голубой/темно-синий)</span>
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="novelty__list-price">2 630 руб</span>
								<meta itemprop="price" content="2630.00">
	    					<meta itemprop="priceCurrency" content="RUB">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="popular-new">
			<div class="container">
				<div class="popular-new__box">
					<div class="popular-new__item popular-new__item--mob-visible">
						<h2 class="main-page__title popular-new__title">НОВЫЕ ПОСТАВКИ</h2>
						<ul class="child__list">
							<li class="child__list-item child__list-item--mob-visible">
								<div class="child__list-box">
									<div class="child__list-image">
										<img class="child__list-img" src="pic/childs/childs-01.jpg" alt="">
									</div>
									<h3 class="child__list-title">Летние коллекции</h3>
									<p class="child__list-text">Весенне-летняя коллекция 2015 года детской одежды итальянской компании 
									De Salitto и Pinetti – это настоящее торжество цвета и многообразие фактур.</p>		
									<a href="#" class="btn btn--green child__list-link">Вся коллекция</a>	
								</div>
							</li>
						</ul>
					</div>
					<div class="popular-new__item">
						<h2 class="main-page__title popular-new__title">НОВЫЕ ПОСТАВКИ</h2>
						<ul class="child__list">
							<li class="child__list-item">
								<div class="child__list-box">
									<div class="child__list-image">
										<img class="child__list-img" src="pic/childs/childs-01.jpg" alt="">
									</div>
									<h3 class="child__list-title">Летние коллекции</h3>
									<p class="child__list-text">Весенне-летняя коллекция 2015 года детской одежды итальянской компании 
									De Salitto и Pinetti – это настоящее торжество цвета и многообразие фактур.</p>		
									<a href="#" class="btn btn--green child__list-link">Вся коллекция</a>	
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="brands">
			<div class="container">
				<h2 class="main-page__title brands__title">ПОПУЛЯРНЫЕ БРЕНДЫ</h2>
				<div class="brands__container">
					<div class="brands-box">
						<div class="brands-block">
							<div class="brands__ico">
								<svg class="brands__icon jacket-ico">
									<use xlink:href="#jacket"></use>
								</svg>
							</div>
							<div class="brands__list">
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Crockid</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Dakottakids</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
							</div>
						</div>
					</div>
					<div class="brands-box">
						<div class="brands-block">
							<div class="brands__ico">
								<svg class="brands__icon shoes-ico">
									<use xlink:href="#shoes"></use>
								</svg>
							</div>
							<div class="brands__list">
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Crockid</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Dakottakids</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
							</div>
						</div>
					</div>
					<div class="brands-box">
						<div class="brands-block">
							<div class="brands__ico">
								<svg class="brands__icon babys-dummy-ico">
									<use xlink:href="#babys-dummy"></use>
								</svg>
							</div>
							<div class="brands__list">
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Crockid</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Dakottakids</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
							</div>
						</div>
					</div>
					<div class="brands-box">
						<div class="brands-block">
							<div class="brands__ico">
								<svg class="brands__icon extraterrestrial-ico">
									<use xlink:href="#extraterrestrial"></use>
								</svg>
							</div>
							<div class="brands__list">
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Crockid</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Dakottakids</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
							</div>
						</div>
					</div>
					<div class="brands-box">
						<div class="brands-block">
							<div class="brands__ico">
								<svg class="brands__icon baby-buggy-ico">
									<use xlink:href="#baby-buggy"></use>
								</svg>
							</div>
							<div class="brands__list">
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Crockid</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Dakottakids</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Huppa (Хуппа)</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Lassie</a>
								</li>
								<li class="brands__list-item">
									<a href="#" class="brands__list-link">Button Blue</a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="yandex-comments">
			<div class="container">
				<h2 class="main-page__title yandex-comments__title">ОТЗЫВЫ С ЯНДЕКС.МАРКЕТА</h2>
				<ul class="yandex-comments__list">
					<li class="yandex-comments__list-item">
						<div class="yandex-comments__list-box">
							<div class="yandex-comments__list-head">
								<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							    <meta itemprop="worstRating" content="0"/>
							    <p style="display: none">Оценка: <span itemprop="ratingValue">4</span> из <span itemprop="bestRating">5</span>.</p>
							    <div class="stars">
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico stars__ico--disable icon-star"></i>
									</div>
							  </div>
								<div class="yandex-comments__list-author">
									<span itemprop="author" itemscope itemtype="http://schema.org/Person" class="yandex-comments__list-name">
										<span itemprop="name">Юлия</span>
									</span>
									<span class="yandex-comments__list-time">
										<meta itemprop="datePublished" content="2016-02-02" />
										отзыв от 02.02.16
									</span>
								</div>
							</div>
							<div class="yandex-comments__list-row">
								<span class="yandex-comments__list-title">Достоинства:</span>
								<p class="yandex-comments__list-text" itemprop="pro">Порадовал широкий ассортимент и очень привлекательные цены. (надеюсь в дальнейшем тоже будет все в порядке, так как планирую и остаться вашей клиенткой).</p>
							</div>
							<div class="yandex-comments__list-row">
								<span class="yandex-comments__list-title">Недостатки:</span>
								<p class="yandex-comments__list-text" itemprop="contra">Нет.</p>
							</div>
							<div class="yandex-comments__list-row">
								<span class="yandex-comments__list-title">Комментарий:</span>
								<p class="yandex-comments__list-text" itemprop="reviewBody">Огромное спасибо за оперативную обработку и доставку заказа! Вежливое общение, весьма приятные цены,заказ оформляется просто, нет заморочек - в общем все оставило только самые положительные впечатления! Успехов и процветания вашему магазину!</p>
							</div>
						</div>
					</li>
					<li class="yandex-comments__list-item">
						<div class="yandex-comments__list-box">
							<div class="yandex-comments__list-head">
								<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							    <meta itemprop="worstRating" content="0"/>
							    <p style="display: none">Оценка: <span itemprop="ratingValue">4</span> из <span itemprop="bestRating">5</span>.</p>
							    <div class="stars">
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico stars__ico--disable icon-star"></i>
									</div>
							  </div>
								<div class="yandex-comments__list-author">
									<span itemprop="author" itemscope itemtype="http://schema.org/Person" class="yandex-comments__list-name">
										<span itemprop="name">Юлия</span>
									</span>
									<span class="yandex-comments__list-time">
										<meta itemprop="datePublished" content="2016-02-02" />
										отзыв от 02.02.16
									</span>
								</div>
							</div>
							<div class="yandex-comments__list-row">
								<span class="yandex-comments__list-title">Достоинства:</span>
								<p class="yandex-comments__list-text" itemprop="pro">Порадовал широкий ассортимент и очень привлекательные цены. (надеюсь в дальнейшем тоже будет все в порядке, так как планирую и остаться вашей клиенткой).</p>
							</div>
							<div class="yandex-comments__list-row">
								<span class="yandex-comments__list-title">Недостатки:</span>
								<p class="yandex-comments__list-text" itemprop="contra">Нет.</p>
							</div>
							<div class="yandex-comments__list-row">
								<span class="yandex-comments__list-title">Комментарий:</span>
								<p class="yandex-comments__list-text" itemprop="reviewBody">Огромное спасибо за оперативную обработку и доставку заказа! Вежливое общение, весьма приятные цены,заказ оформляется просто, нет заморочек - в общем все оставило только самые положительные впечатления! Успехов и процветания вашему магазину!</p>
							</div>
						</div>
					</li>
				</ul>
				<a href="#" class="btn btn--white yandex-comments__link">Больше отзывов</a>
			</div>
		</div>

		<div class="page-description">
			<div class="container">
				<div class="page-description__box">
					<div class="page-description__left">
						<div class="page-description__row">
							<h2 class="page-description__title">Kinderly.ru — самый лучший интернет- магазин качественных детских товаров.</h2>
							<h3 class="page-description__h3">Почему мы так говорим? У нас на это есть все основания.</h3>
							<p class="page-description__text">Перед продажей каждая вещь в отдельности на нашем складе проверяется 
							на наличие брака. Обнаружив бракованный товар, мы его сразу списываем, ни в коем случае не выпуская в продажу.</p>
							<p class="page-description__text">Мы много работаем для того, чтобы вы нашли именно «тот самый», подходящий вам товар. Описания и фотографии обязательно прилагаются к каждому товару, наши специалисты предоставят Вам высококачественные консультации – все это делается, чтобы вы и ваш малыш остались довольны.</p>
							<p class="page-description__text">Kinderly.ru сотрудничает напрямую с производителями, поэтому весь ассортимент магазина дешевле, чем у наших конкурентов. Каждая позиция на сайте имеет сертификат соответствия. Kinderly.ru не торгует подделками.</p>
							<p class="page-description__text">В нашем интернет-магазине всегда есть актуальные акции и большие скидки. Гарантия на продукцию от магазина – 30 дней. В течение месяца мы готовы принять товар – обменять или вернуть деньги.</p>
						</div>
						<div class="page-description__row">
							<h2 class="page-description__title">Что тут есть?</h2>
							<h3 class="page-description__h3">Мы предлагаем большой выбор товаров для детей:</h3>
							<p class="page-description__text">Товары для новорожденных – бутылочки, соски, пеленки и многое другое;</p>
							<p class="page-description__text">Одежда на все сезоны для детей от рождения до 12 лет.
							От нижнего белья до верхней одежды – здесь есть все!
							Обувь, включая ортопедическую;
							Самые разные виды игрушек – от погремушек до конструкторов;
							Постельное белье и текстиль;
							Ходунки, стульчики и много других нужных и полезных вещей.</p>
							<p class="page-description__text">Купить детские товары в интернет-магазине Kinderly можно быстро и легко, благодаря понятному интерфейсу сайта, удобному разделению на фильтры и большому, довольно разнообразному ассортименту.</p>
						</div>
						<div class="page-description__row">
							<img class="page-description__img" src="pic/childs/childs-05.jpg" alt="">
						</div>
					</div>
					<div class="page-description__right">
						<div class="page-description__row">
							<img class="page-description__img" src="pic/childs/childs-07.jpg" alt="">
						</div>
						<div class="page-description__row">
							<h2 class="page-description__title">А кроме товаров?</h2>
							<h3 class="page-description__h3">Мы заботимся не только о качестве и цене товара.<br> Помимо этого вы получите много других полезных вещей.</h3>
							<p class="page-description__text">Например – вы экономите время. Любой товар, который Вы видите на сайте, есть 
							в наличии. Мы гарантируем своим клиентам качественное обслуживание, грамотные консультации, быструю доставку и возможность заказать товары на выбор в Москве и Санкт-Петербурге. Однако это не значит, что люди из других городов не могут сделать заказ на сайте - Kinderly.ru отправляет заказы в любую точку России.</p>
							<p class="page-description__text">Вы можете заказывать наши товары откуда угодно, просто зайдя в интернет. Заказ через сайт можно сделать круглосуточно. В "Киндерли" можно не просто купить дешево понравившуюся вещь, но и получить доставку покупки быстро, причем любым удобным способом.</p>
							<p class="page-description__text">Мы пишем для вас статьи в блог и делаем тематические рассылки каждую неделю для того, чтобы Вы всегда были в курсе событий. При чем не только в курсе наших акций и новых товаров, а просто интересных тем, например – куда сходить 
							с ребенком, как развить моторику пальцев и множество других, актуальных для родителей тем.</p>
							<p class="page-description__text">Наши модераторы никогда не отправят рассылку для новорожденных тем людям, 
							у которых дети старше года и наоборот. Мы не спамим, а действительно хотим, чтобы Вы получали актуальную информацию. Купить товар в Kinderly.ru – значит приобрести недорого вещь европейского качества.</p>
						</div>
					</div>

				</div>
			</div>


		</div>


	</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 