@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})
	<main class="content">
		<!-- landing-categories -->
		<div class="landing-categories">
			<ul class="landing-categories-list">
				<li class="landing-categories-list__item">
					<div class="landing-category">
						<a href="#" class="landing-category__image">
							<img class="landing-category__image-img" src="pic/landing-category/landing-category-01.jpg" alt="">
						</a>
						<a href="#" class="landing-category__caption">
							<h2 class="landing-category__caption-title">Интерактивные игрушки сильверлит</h2>
							<span class="landing-category__caption-btn">
								<svg class="landing-category__caption-btn-icon">
									<use xlink:href="#arrow-forward-right"></use>
								</svg>
							</span>
						</a>
					</div>		
				</li>
				<li class="landing-categories-list__item">
					<div class="landing-category">
						<a href="#" class="landing-category__image">
							<img class="landing-category__image-img" src="pic/landing-category/landing-category-02.jpg" alt="">
						</a>
						<a href="#" class="landing-category__caption">
							<h2 class="landing-category__caption-title">Серия star wars</h2>
							<span class="landing-category__caption-btn">
								<svg class="landing-category__caption-btn-icon">
									<use xlink:href="#arrow-forward-right"></use>
								</svg>
							</span>
						</a>
					</div>		
				</li>
			</ul>
		</div>
		<!-- landing-categories end -->

		<!-- landing-categories-lists -->
		<div class="landing-categories-lists">
			<div class="landing-categories-lists__container">
				<div class="landing-categories-lists-list">
					<div class="landing-categories-lists-list__item">
						<div class="landing-categories-lists-item">
							<div class="landing-categories-lists-item__icon">
								<svg class="landing-categories-lists-item__icon-toy">
									<use xlink:href="#toy"></use>
								</svg>
							</div>
							<h3 class="landing-categories-lists-item__title">Рекомендации для подарков на Новый год</h3>
							<div class="landing-categories-lists-item__lists">
								<div class="landing-categories-lists-item__lists-inner">
									<div class="landing-categories-lists-item__lists-column">
										<ul class="landing-categories-lists-item__list">
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Huppa (Хуппа)</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Lassie</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Button Blue</a>
											</li>
										</ul>
									</div>
									<div class="landing-categories-lists-item__lists-column">
										<ul class="landing-categories-lists-item__list">
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Huppa (Хуппа)</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Lassie</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Button Blue</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="landing-categories-lists-list__item">
						<div class="landing-categories-lists-item">
							<div class="landing-categories-lists-item__icon">
								<svg class="landing-categories-lists-item__icon-bagtimeout">
									<use xlink:href="#shopping-bag-timeout"></use>
								</svg>
							</div>
							<h3 class="landing-categories-lists-item__title">Новинки 2016</h3>
							<div class="landing-categories-lists-item__lists">
								<div class="landing-categories-lists-item__lists-inner">
									<div class="landing-categories-lists-item__lists-column">
										<ul class="landing-categories-lists-item__list">
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Huppa (Хуппа)</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Lassie</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Button Blue</a>
											</li>
										</ul>
									</div>
									<div class="landing-categories-lists-item__lists-column">
										<ul class="landing-categories-lists-item__list">
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Huppa (Хуппа)</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Lassie</a>
											</li>
											<li class="landing-categories-lists-item__list-item">
												<a href="#" class="landing-categories-lists-item__list-item-link">Button Blue</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- landing-categories-lists end -->

		<!-- landing-offer -->
		<div class="landing-offer">
			<div class="landing-offer__image" style="background-image: url('pic/landing-offer/landing-offer-01.jpg');"></div>
			<div class="landing-offer__caption">
				<div class="landing-offer__caption-pretitle">
					<div class="landing-offer__caption-pretitle-icon">
						<svg class="landing-offer__caption-pretitle-icon-icon">
							<use xlink:href="#award"></use>
						</svg>
					</div>
					<div class="landing-offer__caption-pretitle-title">Предложение месяца!</div>
				</div>
				<div class="landing-offer__caption-inner">
					<a href="#" class="landing-offer__caption-inner-link">
						<h2 class="landing-offer__caption-title">Новогодние наборы<br> для творчества</h2>
						<div class="landing-offer__caption-desc">
							<p>Мы подумали, ведь сделать руками игрушку на ёлку 
							или забавную подставку понравится многим? 
							Да ещё и тематичное с Новым годом?</p>
							<p>Сегодня специальное предложение по наборам:
							<strong>TVORCH</strong> на все наборы для творчества НГ!</p>
						</div>
						<div class="landing-offer__caption-buttons">
							<div class="btn btn--green landing-offer__caption-buttons-btn">Вся коллекция</div>
						</div>
					</a>
				</div>
				<div class="landing-offer__caption-arrow">
					<svg class="landing-offer__caption-arrow-icon">
						<use xlink:href="#arrow-long-right"></use>
					</svg>
				</div>
			</div>
			<div class="landing-offer__products">
				<ul class="landing-offer__products-list">
					<li class="landing-offer__products-list-item">
						<a href="#" class="landing-offer__product">
							<div class="landing-offer__product-left">
								<div class="landing-offer__product-image">
									<img src="pic/landing-offer-product/landing-offer-product-01.png" alt="" class="landing-offer__product-image-img">
								</div>
							</div>
							<div class="landing-offer__product-right">
								<h4 class="landing-offer__product-title">Фантазер</h4>
								<div class="landing-offer__product-desc">Парафиновые свечи. Набор № 2 "Дракончик"</div>
							</div>
						</a>
					</li>
					<li class="landing-offer__products-list-item">
						<a href="#" class="landing-offer__product">
							<div class="landing-offer__product-left">
								<div class="landing-offer__product-image">
									<img src="pic/landing-offer-product/landing-offer-product-02.png" alt="" class="landing-offer__product-image-img">
								</div>
							</div>
							<div class="landing-offer__product-right">
								<h4 class="landing-offer__product-title">Волшебная мастерская</h4>
								<div class="landing-offer__product-desc">Набор для творчества Новогодняя Ель зеленая</div>
							</div>
						</a>
					</li>
					<li class="landing-offer__products-list-item">
						<a href="#" class="landing-offer__product">
							<div class="landing-offer__product-left">
								<div class="landing-offer__product-image">
									<img src="pic/landing-offer-product/landing-offer-product-03.png" alt="" class="landing-offer__product-image-img">
								</div>
							</div>
							<div class="landing-offer__product-right">
								<h4 class="landing-offer__product-title">Шар-папье</h4>
								<div class="landing-offer__product-desc">Набор для творчества Елочные игрушки (4 шара)</div>
							</div>
						</a>
					</li>
					<li class="landing-offer__products-list-item">
						<a href="#" class="landing-offer__product">
							<div class="landing-offer__product-left">
								<div class="landing-offer__product-image">
									<img src="pic/landing-offer-product/landing-offer-product-04.png" alt="" class="landing-offer__product-image-img">
								</div>
							</div>
							<div class="landing-offer__product-right">
								<h4 class="landing-offer__product-title">Bondibon</h4>
								<div class="landing-offer__product-desc">Ёлочные украшения на карте Пингвин</div>
							</div>
						</a>
					</li>
					<li class="landing-offer__products-list-item">
						<a href="#" class="landing-offer__product">
							<div class="landing-offer__product-left">
								<div class="landing-offer__product-image">
									<img src="pic/landing-offer-product/landing-offer-product-05.png" alt="" class="landing-offer__product-image-img">
								</div>
							</div>
							<div class="landing-offer__product-right">
								<h4 class="landing-offer__product-title">Creative</h4>
								<div class="landing-offer__product-desc">Набор для творчества "Фабрика свечей"</div>
							</div>
						</a>
					</li>
					<li class="landing-offer__products-list-item">
						<a href="#" class="landing-offer__product">
							<div class="landing-offer__product-left">
								<div class="landing-offer__product-image">
									<img src="pic/landing-offer-product/landing-offer-product-06.png" alt="" class="landing-offer__product-image-img">
								</div>
							</div>
							<div class="landing-offer__product-right">
								<h4 class="landing-offer__product-title">Волшебная мастерская</h4>
								<div class="landing-offer__product-desc">Набор для творчества топиарий "Новогодний"</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- landing-offer end -->

		<!-- landing-favorite-products -->
		<div class="landing-favorite-products">
			<div class="landing-favorite-products__container">
				<h2 class="landing-favorite-products__title">ИЗБРАННЫЕ ТОВАРЫ</h2>

				<ul class="landing-favorite-products-list">
					<li class="landing-favorite-products-list__item">
						<div class="landing-favorite-product">
							<div class="landing-favorite-product__left">
								<a href="#" class="landing-favorite-product__image">
									<div class="landing-favorite-product__image-cell">
										<img src="pic/landing-favorite-product/landing-favorite-product-01.jpg" alt="" class="landing-favorite-product__image-img">
									</div>
									<div class="landing-favorite-product__sticker">ХИТ!</div>
								</a>
							</div>
							<div class="landing-favorite-product__right">
								<h3 class="landing-favorite-product__title">
									<a href="#" class="landing-favorite-product__title-link">Hasbro, Descendants Кукла "Наследники Дисней" Коронация - Иви (Evie)</a>
								</h3>
								<div class="landing-favorite-product__info">
									<ul class="landing-favorite-product__info-list">
										<li class="landing-favorite-product__info-list-item">Легко заинтересовать ребёнка</li>
										<li class="landing-favorite-product__info-list-item">Гипоалергенные материалы</li>
										<li class="landing-favorite-product__info-list-item">Дополнительный комплект одежды</li>
									</ul>
								</div>
								<div class="landing-favorite-product__prices">
									<span class="landing-favorite-product__price">900 руб</span>
									<span class="landing-favorite-product__price-old">980 руб</span>
								</div>
								<div class="landing-favorite-product__buttons">
									<a href="#" class="btn btn--green landing-favorite-product__buttons-btn">Подробнее</a>
								</div>
								<div class="landing-favorite-product__images">
									<ul class="landing-favorite-product__images-list">
										<li class="landing-favorite-product__images-list-item">
											<img src="pic/landing-favorite-product-small/landing-favorite-product-small-01.jpg" alt="" class="landing-favorite-product__images-list-item-img">
										</li>
										<li class="landing-favorite-product__images-list-item">
											<img src="pic/landing-favorite-product-small/landing-favorite-product-small-02.jpg" alt="" class="landing-favorite-product__images-list-item-img">
										</li>
										<li class="landing-favorite-product__images-list-item">
											<img src="pic/landing-favorite-product-small/landing-favorite-product-small-03.jpg" alt="" class="landing-favorite-product__images-list-item-img">
										</li>
										<li class="landing-favorite-product__images-list-item">
											<img src="pic/landing-favorite-product-small/landing-favorite-product-small-04.jpg" alt="" class="landing-favorite-product__images-list-item-img">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="landing-favorite-products-list__item">
						<div class="landing-favorite-product">
							<div class="landing-favorite-product__left">
								<a href="#" class="landing-favorite-product__image">
									<div class="landing-favorite-product__image-cell">
										<img src="pic/landing-favorite-product/landing-favorite-product-02.jpg" alt="" class="landing-favorite-product__image-img">
									</div>
									<div class="landing-favorite-product__sticker">ХИТ!</div>
								</a>
							</div>
							<div class="landing-favorite-product__right">
								<h3 class="landing-favorite-product__title">
									<a href="#" class="landing-favorite-product__title-link">Auldey, SUPER WINGS Трансформер Бэлло</a>
								</h3>
								<div class="landing-favorite-product__desc">
									<p>Мы много работаем для того, чтобы вы нашли именно «тот самый», подходящий вам товар. Описания и фотографии обязательно.</p>
								</div>
								<div class="landing-favorite-product__prices">
									<span class="landing-favorite-product__price">1 120 руб</span>
									<span class="landing-favorite-product__price-old">1 400 руб</span>
								</div>
								<div class="landing-favorite-product__buttons">
									<a href="#" class="btn btn--green landing-favorite-product__buttons-btn">Подробнее</a>
								</div>
								<div class="landing-favorite-product__images">
									<ul class="landing-favorite-product__images-list">
										<li class="landing-favorite-product__images-list-item">
											<img src="pic/landing-favorite-product-small/landing-favorite-product-small-05.jpg" alt="" class="landing-favorite-product__images-list-item-img">
										</li>
										<li class="landing-favorite-product__images-list-item">
											<img src="pic/landing-favorite-product-small/landing-favorite-product-small-06.jpg" alt="" class="landing-favorite-product__images-list-item-img">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- landing-favorite-products end -->

		<!-- landing-text-block -->
		<div class="landing-text-block">
			<div class="landing-text-block__container">
				<h2 class="landing-text-block__title">Подарки на Рождество.</h2>
				<div class="landing-text-block__text">
					<div class="row">
						<div class="col-sm-100 col-md-50">
							<p>Мы много работаем для того, чтобы вы нашли именно «тот самый», подходящий вам товар. Описания и фотографии обязательно прилагаются к каждому товару, наши специалисты предоставят Вам высококачественные консультации – все это делается, чтобы вы и ваш малыш остались довольны.</p>
						</div>
						<div class="col-sm-100 col-md-50">
							<p>Мы много работаем для того, чтобы вы нашли именно «тот самый», подходящий вам товар. Описания и фотографии обязательно прилагаются к каждому товару, наши специалисты предоставят Вам высококачественные консультации – все это делается, чтобы вы и ваш малыш остались довольны.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- landing-text-block end -->


		<!-- recently-purchased -->
		<div class="recently-purchased">
			<div class="recently-purchased__container">
				<h2 class="recently-purchased__title">НЕДАВНО КУПИЛИ</h2>
				
				<div class="recently-purchased-slider-wrap">
					<div class="recently-purchased-slider js-recently-purchased-slider">
						<div class="recently-purchased-slider__item">
							<a href="#" class="recently-purchased-product">
								<div class="recently-purchased-product__image">
									<span class="recently-purchased-product__image-cell">
										<img src="pic/recently-purchased-product/recently-purchased-product-01.jpg" alt="" class="recently-purchased-product__image-img">
									</span>
								</div>
								<div class="recently-purchased-product__content">
									<h3 class="recently-purchased-product__title">Markwins</h3>
									<div class="recently-purchased-product__desc">Barbie Набор декоративной косметики в туфельке (зеленый)</div>
									<div class="recently-purchased-product__time">Заказано в 14:40</div>
								</div>
							</a>
						</div>
						<div class="recently-purchased-slider__item">
							<a href="#" class="recently-purchased-product">
								<div class="recently-purchased-product__image">
									<span class="recently-purchased-product__image-cell">
										<img src="pic/recently-purchased-product/recently-purchased-product-02.jpg" alt="" class="recently-purchased-product__image-img">
									</span>
								</div>
								<div class="recently-purchased-product__content">
									<h3 class="recently-purchased-product__title">Future of Play</h3>
									<div class="recently-purchased-product__desc">Luv'n Learn интерактивный коричневый медведь</div>
									<div class="recently-purchased-product__time">Заказано в 14:45</div>
								</div>
							</a>
						</div>
						<div class="recently-purchased-slider__item">
							<a href="#" class="recently-purchased-product">
								<div class="recently-purchased-product__image">
									<span class="recently-purchased-product__image-cell">
										<img src="pic/recently-purchased-product/recently-purchased-product-03.jpg" alt="" class="recently-purchased-product__image-img">
									</span>
								</div>
								<div class="recently-purchased-product__content">
									<h3 class="recently-purchased-product__title">Zoomer</h3>
									<div class="recently-purchased-product__desc">Игрушка Dino Динозавр интерактивный Эволюция</div>
									<div class="recently-purchased-product__time">Заказано в 14:51</div>
								</div>
							</a>
						</div>
						<div class="recently-purchased-slider__item">
							<a href="#" class="recently-purchased-product">
								<div class="recently-purchased-product__image">
									<span class="recently-purchased-product__image-cell">
										<img src="pic/recently-purchased-product/recently-purchased-product-04.jpg" alt="" class="recently-purchased-product__image-img">
									</span>
								</div>
								<div class="recently-purchased-product__content">
									<h3 class="recently-purchased-product__title">Markwins</h3>
									<div class="recently-purchased-product__desc">Barbie Набор косметики в сумочке</div>
									<div class="recently-purchased-product__time">Заказано в 14:55</div>
								</div>
							</a>
						</div>
						<div class="recently-purchased-slider__item">
							<a href="#" class="recently-purchased-product">
								<div class="recently-purchased-product__image">
									<span class="recently-purchased-product__image-cell">
										<img src="pic/recently-purchased-product/recently-purchased-product-05.jpg" alt="" class="recently-purchased-product__image-img">
									</span>
								</div>
								<div class="recently-purchased-product__content">
									<h3 class="recently-purchased-product__title">Hasbro</h3>
									<div class="recently-purchased-product__desc">Магнитный щит Первого Мстителя Avengers Мстители</div>
									<div class="recently-purchased-product__time">Заказано в 14:55</div>
								</div>
							</a>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<!-- recently-purchased end -->

		<!-- experts-choice -->
		<div class="experts-choice">
			<div class="experts-choice__container">
				<h2 class="experts-choice__title">ВЫБОР ЭКСПЕРТОВ</h2>
				<div class="experts-choice__inner">
					<div class="experts-choice__inner-left">
						<div class="experts-choice__image">
							<img src="pic/experts-choice/experts-choice-01.jpg" alt="" class="experts-choice__image-img">
						</div>
					</div>
					<div class="experts-choice__inner-right">
						<div class="experts-choice__caption">
							<a href="#" class="experts-choice__caption-link">
								<div class="experts-choice__caption-pretitle">Обзор с лукбуком и сравнениями</div>
								<h2 class="experts-choice__caption-title">Деревянные игрушки</h2>
								<div class="experts-choice__caption-desc">
									<p>Деревянные игрушки - must have в коробке с игрушками у каждого малыша. 
									Мы, команда Киндерли, собрали игрушки разных "деревянных" брендов, пофоткали, потрогали, 
									поиграли. И вот что у нас получилось!</p>
								</div>
								<div class="experts-choice__caption-buttons">
									<div class="btn btn--green experts-choice__caption-buttons-btn">Подробнее</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="experts-choice__bg" style="background-image: url('pic/experts-choice/experts-choice-01.jpg');"></div>
		</div>
		<!-- experts-choice end -->

		<!-- popular-brands -->
		<div class="popular-brands">
			<div class="popular-brands__container">
				<h2 class="popular-brands__title">ПОПУЛЯРНЫЕ БРЕНДЫ</h2>

				<div class="popular-brands-slider-wrap">
					<div class="popular-brands-slider js-popular-brands-slider">
						<div class="popular-brands-slider__item">
							<ul class="popular-brands-list">
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
							</ul>
						</div>
						<div class="popular-brands-slider__item">
							<ul class="popular-brands-list">
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
							</ul>
						</div>
						<div class="popular-brands-slider__item">
							<ul class="popular-brands-list">
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
								<li class="popular-brands-list__item">
									<a href="#" class="popular-brand">
										<img src="pic/popular-brand/popular-brand-01.jpg" alt="" class="popular-brand__img">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- popular-brands end -->
	</main><!-- MAIN CONTENT [END] -->

	<div class="landing-mobile-res"></div>

@@include('template/layout/footer.html')
 