@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})
	<main class="content product-page">

		<div class="breadcrumb">
			<ul class="breadcrumb__list">                        
				<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Главная</a></li>
				<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Бренды </a></li>
				<li class="breadcrumb__item"><span href="#" class="breadcrumb__link breadcrumb__link--active">Mayoral</span></li>
			</ul>
		</div>

		<!-- product-full-box -->
		<div class="product-full-box">
			<!-- product-full-box__left -->
			<div class="product-full-box__left">
				<!-- product-full -->
				<div class="product-full">
					<div class="product-full__head">
						<div class="product-full__head-top">
							<a href="#" class="product-full__head-back-link">
								<svg class="product-full__head-back-link-icon">
									<use xlink:href="#arrow-back"/>
								</svg>
							</a>
							<h1 class="product-full__title">Happy Baby, Коляска прогулочная Eleganza</h1>
						</div>
						<div class="product-full__meta">
							<span class="product-full__meta-price">22 500 руб</span>
							<ul class="product-full__meta-list">
								<li class="product-full__meta-list-item hidden-sm">
									<span class="product-full__meta-list-item-title">код товара:</span>
									<span class="product-full__meta-list-item-value">9921018</span>
								</li>
								<li class="product-full__meta-list-item hidden-sm">
									<span class="product-full__meta-list-item-title">артикул:</span>
									<span class="product-full__meta-list-item-value">MW-36104-C1</span>
								</li>
								<li class="product-full__meta-list-item">
									<span class="product-full__meta-list-item-title">отзывы:</span>
									<div class="stars">
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico stars__ico--disable icon-star"></i>
									</div>
									<span class="product-full__meta-list-item-value product-full__meta-list-item-value--small">(26)</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-full__images">
						<div class="product-full__images-inner">
							<!-- product-full__images-slider -->
							<div class="product-full__images-slider js-product-full-images-slider">
								<div class="product-full__images-slider-item">
									<div class="product-full__images-large">
										<img src="pic/product-full-image-large/product-full-image-large-01.jpg" alt="">
									</div>
								</div>
								<div class="product-full__images-slider-item">
									<div class="product-full__images-large">
										<img src="pic/product-full-image-large/product-full-image-large-01.jpg" alt="">
									</div>
								</div>
								<div class="product-full__images-slider-item">
									<div class="product-full__images-large">
										<img src="pic/product-full-image-large/product-full-image-large-01.jpg" alt="">
									</div>
								</div>
								<div class="product-full__images-slider-item">
									<div class="product-full__images-large">
										<img src="pic/product-full-image-large/product-full-image-large-01.jpg" alt="">
									</div>
								</div>
							</div>
							<!-- product-full__images-slider end -->

							<a href="#modal-action-share" class="product-full__images-sticker js-popup-little">NEW</a>

							<div class="product-full__images-pager js-product-full-images-pager">
								<div class="product-full__images-pager-item">
									<div class="product-full__images-small">
										<img src="pic/product-full-image-small/product-full-image-small-01.jpg" alt="">
									</div>
								</div>
								<div class="product-full__images-pager-item">
									<div class="product-full__images-small">
										<img src="pic/product-full-image-small/product-full-image-small-01.jpg" alt="">
									</div>
								</div>
								<div class="product-full__images-pager-item">
									<div class="product-full__images-small">
										<img src="pic/product-full-image-small/product-full-image-small-01.jpg" alt="">
									</div>
								</div>
								<div class="product-full__images-pager-item">
									<div class="product-full__images-small">
										<img src="pic/product-full-image-small/product-full-image-small-01.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="product-full__main">
						<div class="product-full__main-head">
							<ul class="product-full__main-head-list">
								<li class="product-full__main-head-list-item current">
									<a href="#" data-product-full-tab="product-full-main-tab1" class="product-full__main-head-list-item-link js-product-full-tab-link">Характеристики</a>
								</li>
								<li class="product-full__main-head-list-item">
									<a href="#" data-product-full-tab="product-full-main-tab2" class="product-full__main-head-list-item-link js-product-full-tab-link">Описание</a>
								</li>
								<li class="product-full__main-head-list-item">
									<a href="#" data-product-full-tab="product-full-main-tab3" class="product-full__main-head-list-item-link js-product-full-tab-link">Видео</a>
								</li>
								
								<li class="product-full__main-head-list-item">
									<a href="#" data-product-full-tab="product-full-main-tab4" class="product-full__main-head-list-item-link js-product-full-tab-link">Вопросы и отзывы <span class="product-full__main-head-list-item-link-count">(3)</span></a>
								</li>
							</ul>
						</div>
						<div class="product-full__main-content">
							<div class="product-full__main-content-item js-product-full-tab js-product-full-main-accord-parent" id="product-full-main-tab1">
								<div class="product-full__main-content-head js-product-full-main-accord-head">
									<span class="product-full__main-content-head-title">характеристики</span>
									<span class="product-full__main-content-head-arrow">
										<svg class="product-full__main-content-head-arrow-icon">
											<use xlink:href="#arow-down"/>
										</svg>
									</span>
								</div>
								<div class="product-full__main-content-content js-product-full-main-accord-content">
									<div class="product-full__characteristics">
										<ul class="product-full__characteristics-list">
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Категории</div>
												<div class="product-full__characteristics-list-item-right">Прогулочные коляски</div>
											</li>
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Бренд</div>
												<div class="product-full__characteristics-list-item-right">
													<strong>Happy Baby</strong>
												</div>
											</li>
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Механизм складывания</div>
												<div class="product-full__characteristics-list-item-right">Книжка <span class="tooltip js-tooltip" data-tooltip="Дождевик, корзина для покупок, москитная сетка, подстаканник, ремни безопасности, солнцезащитный козырек, чехол на ножки">
													<svg class="tooltip__icon icon-tooltip">
														<use xlink:href="#info-red"/>
													</svg>
												</span></div>
											</li>
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Возраст</div>
												<div class="product-full__characteristics-list-item-right">От 7 мес</div>
											</li>
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Вес ребенка</div>
												<div class="product-full__characteristics-list-item-right">До 15 кг</div>
											</li>
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Комплектация</div>
												<div class="product-full__characteristics-list-item-right">Дождевик, корзина для покупок, москитная сетка, подстаканник, ремни безопасности, солнцезащитный козырек, чехол на ножки</div>
											</li>
											<li class="product-full__characteristics-list-item">
												<div class="product-full__characteristics-list-item-left">Количество колес</div>
												<div class="product-full__characteristics-list-item-right">4</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="product-full__main-content-item js-product-full-tab js-product-full-main-accord-parent" id="product-full-main-tab2">
								<div class="product-full__main-content-head js-product-full-main-accord-head">
									<span class="product-full__main-content-head-title">Описание</span>
									<span class="product-full__main-content-head-arrow">
										<svg class="product-full__main-content-head-arrow-icon">
											<use xlink:href="#arow-down"/>
										</svg>
									</span>
								</div>
								<div class="product-full__main-content-content js-product-full-main-accord-content">
									<article class="product-full__description">
										<p>Прогулочная коляска Concord Fusion – это комфортная и удобная модель, предназначенная для малышей, которые уже умеют сидеть самостоятельно. Коляска Конкорд Фьюжэн выделяется среди других моделей своим спортивным и уникальным дизайном, а используемый в производстве материал абсолютно безопасен для ребенка. <br />
										В прогулочном блоке ребенка надежно фиксирует пятиточечный ремень безопасности, который не даст малышу выпасть из креслица. Наклон спинки не имеет ступенчатой регулировки и поэтому может быть установлен в любое положение. Спинка кресла опускается до горизонтального положения, а подножка поднимается, создавая комфортное спальное место. Рама коляски Фьюжэн выполнена из прочного, но легкого алюминия и установлена на четыре одинарных колеса. Передние колеса – поворотные и, как и задние, могут сниматься. Удобная и маневренная коляска с большим козырьком от солнца и дождя Fusion подойдет для использования в теплую и прохладную погоду, а также станет незаменимой помощницей во время ежедневных прогулок.</p>
									</article>
								</div>
							</div>
							<div class="product-full__main-content-item js-product-full-tab js-product-full-main-accord-parent" id="product-full-main-tab3">
								<div class="product-full__main-content-head js-product-full-main-accord-head">
									<span class="product-full__main-content-head-title">видео</span>
									<span class="product-full__main-content-head-arrow">
										<svg class="product-full__main-content-head-arrow-icon">
											<use xlink:href="#arow-down"/>
										</svg>
									</span>
								</div>
								<div class="product-full__main-content-content js-product-full-main-accord-content">
									<div class="product-full__video">
										<div class="product-full__video-item">
											<iframe width="720" height="400" src="https://www.youtube.com/embed/G0F6AzkzVXU" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
							<div class="product-full__main-content-item js-product-full-tab js-product-full-main-accord-parent" id="product-full-main-tab4">
								<div class="product-full__main-content-head js-product-full-main-accord-head">
									<span class="product-full__main-content-head-title">Вопросы и отзывы</span>
									<span class="product-full__main-content-head-arrow">
										<svg class="product-full__main-content-head-arrow-icon">
											<use xlink:href="#arow-down"/>
										</svg>
									</span>
								</div>
								<div class="product-full__main-content-content js-product-full-main-accord-content">
									<!-- product-full-reviews -->
									<div class="product-full-reviews">
										<div class="product-full-reviews__head">
											<h3 class="product-full-reviews__title">вопросы и отзывы</h3>
											<a href="#modal-comment" class="btn btn--green js-popup-large">Отзыв / Вопрос</a>
										</div>
										<div class="product-full-reviews__content">
											<ul class="product-full-reviews-list">
												<li class="product-full-reviews-list__item">
													<div class="product-full-review">
														<div class="product-full-review__head">
															<span class="product-full-review__head-author">Юлия</span>
															<span class="product-full-review__head-date">отзыв от 02.02.16</span>
															<div class="stars">
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico stars__ico--disable icon-star"></i>
															</div>
															
														</div>
														<div class="product-full-review__content">
															<p>Маломерит немного, на мой 42-44 подошел 46. Сидит отлично, за таку цену не ожидала. На хорошую фигуру подойдет. На худышку/пышку боюсь не "сядет"</p>
														</div>
														<div class="product-full-review__bottom">
															<a href="#" class="product-full-review__more-link">Читать далее</a>
														</div>
													</div>
												</li>
												<li class="product-full-reviews-list__item product-full-reviews-list__item--question">
													<div class="product-full-review">
														<div class="product-full-review__head">
															<span class="product-full-review__head-author">Армине</span>
															<span class="product-full-review__head-date">вопрос от 02.02.16</span>
															<span class="product-full-review__head-icon">
																<svg class="product-full-review__head-icon-icon icon-chat-info-question">
																	<use xlink:href="#chat-info-question"/>
																</svg>
															</span>
														</div>
														<div class="product-full-review__content">
															<p>Подскажите будет в размере 44-46?</p>
														</div>
													</div>
													<div class="product-full-reviews-list__inner">
														<ul class="product-full-reviews-list">
															<li class="product-full-reviews-list__item">
																<div class="product-full-review">
																	<div class="product-full-review__head">
																		<span class="product-full-review__head-author">Kinderly</span>
																		<span class="product-full-review__head-date">ответил 02.02.16</span>
																		<span class="product-full-review__head-icon">
																			<svg class="product-full-review__head-icon-icon icon-chat-info">
																				<use xlink:href="#chat-info"/>
																			</svg>
																		</span>
																	</div>
																	<div class="product-full-review__content">
																		<p>Армине, размерный и модельный ряд пополняется ежедневно. Отследить поступление интересующей вас модели или размера, можно на основном сайте www.kinderly.ru, используя функцию "Уведомить о поступлении товара". С уважением, служба поддержки клиентов Kinderly.</p>
																	</div>
																</div>
															</li>
														</ul>
														<div class="product-full-reviews-list__inner-bottom">
															<a href="#" class="product-full-reviews-list__inner-toggle-link js-product-full-reviews-toggle">Свернуть</a>
														</div>
													</div>
												</li>
												<li class="product-full-reviews-list__item">
													<div class="product-full-review">
														<div class="product-full-review__head">
															<span class="product-full-review__head-author">Юлия</span>
															<span class="product-full-review__head-date">отзыв от 02.02.16</span>
															<div class="stars">
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico icon-star"></i>
																<i class="stars__ico stars__ico--disable icon-star"></i>
															</div>
															
														</div>
														<div class="product-full-review__content">
															<p>Маломерит немного, на мой 42-44 подошел 46. Сидит отлично, за таку цену не ожидала. На хорошую фигуру подойдет. На худышку/пышку боюсь не "сядет"</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<!-- product-full-reviews end -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- product-full end -->
			</div>
			<!-- product-full-box__left end -->


			<!-- product-full-box__right -->
			<div class="product-full-box__right">
				<!-- other-colors -->
				<div class="other-colors">
					<h3 class="other-colors__title">другие цвета</h3>
					<ul class="other-colors-list">
						<li class="other-colors-list__item">
							<a href="#" class="other-colors__link">
								<img src="pic/other-colors/other-colors-01.jpg" alt="">
							</a>
						</li>
						<li class="other-colors-list__item">
							<a href="#" class="other-colors__link">
								<img src="pic/other-colors/other-colors-02.jpg" alt="">
							</a>
						</li>
						<li class="other-colors-list__item">
							<a href="#" class="other-colors__link">
								<img src="pic/other-colors/other-colors-03.jpg" alt="">
							</a>
						</li>
						<li class="other-colors-list__item">
							<a href="#" class="other-colors__link">
								<img src="pic/other-colors/other-colors-04.jpg" alt="">
							</a>
						</li>
					</ul>
				</div>
				<!-- other-colors end -->

				<!-- change-sizes -->
				<div class="change-sizes">
					<h3 class="change-sizes__title">выбор размера</h3>
					<ul class="change-sizes-list">
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" >
								<span class="change-size__decor">28</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" >
								<span class="change-size__decor">29</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" >
								<span class="change-size__decor">30</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" >
								<span class="change-size__decor">31</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" checked >
								<span class="change-size__decor">32-33</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" disabled >
								<span class="change-size__decor">33</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" disabled >
								<span class="change-size__decor">34</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" >
								<span class="change-size__decor">36</span>
							</label>
						</li>
						<li class="change-sizes-list__item">
							<label class="change-size">
								<input class="change-size__radio" type="radio" name="product_full_size" >
								<span class="change-size__decor">38</span>
							</label>
						</li>
					</ul>
					<a href="#modal-grid" class="change-sizes__table-link js-popup-large">
						<svg class="change-sizes__table-link-icon icon-size-grey">
							<use xlink:href="#size-grey"/>
						</svg>
						<span class="change-sizes__table-link-text">таблица размеров</span>
					</a>
				</div>
				<!-- change-sizes end -->

				<!-- product-full-actions -->
				<div class="product-full-actions">
					<div class="product-full-actions__prices">
						<span class="product-full-actions__price">4 790 руб</span>
						<span class="product-full-actions__price-old">5 300 руб</span>
					</div>
					
					<div class="product-full-actions__buttons">
						<a href="#" class="product-full-actions__buttons-buy btn btn--green">
							<svg class="btn__icon icon-basket-white">
								<use xlink:href="#basket-white" />
							</svg>
							<span class="btn__text">В корзину</span>
						</a>
						<a href="#modal-childReg" class="product-full-actions__buttons-discount btn btn--gray js-popup-large">Скидка на первый заказ!</a>
					</div>

					<a href="#modal-onlyReg" class="product-full-actions__changing-link js-popup-min">
						<svg class="product-full-actions__changing-link-icon icon-interface-information">
							<use xlink:href="#interface-information" />
						</svg>
						<span class="product-full-actions__changing-link-text">сообщить об изменении цены</span>
					</a>
				</div>
				<!-- product-full-actions end -->

				<!-- side-delivery -->
				<div class="side-delivery">
					<h3 class="side-delivery__title">ДОСТАВКА ТОВАРА</h3>
					<div class="side-delivery-item">
						<a href="#modal-delivery" class="side-delivery-item__head js-popup-large">
							<svg class="side-delivery-item__head-place map-red-ico">
								<use xlink:href="#map-red"/>
							</svg>
							<span class="side-delivery-item__head-title">Санкт-Петербург</span>
						</a>
						<ul class="side-delivery-item-list">
							<li class="side-delivery-item-list__item">
								<div class="side-delivery-item-list__item-left">Курьер</div>
								<div class="side-delivery-item-list__item-right"><span>330 руб</span> / <span>06.07</span></div>
							</li>
							<li class="side-delivery-item-list__item">
								<div class="side-delivery-item-list__item-left">Доставка ТК</div>
								<div class="side-delivery-item-list__item-right"><span>360 руб</span> / <span>07.07</span></div>
							</li>
							<li class="side-delivery-item-list__item">
								<div class="side-delivery-item-list__item-left">Почта РФ</div>
								<div class="side-delivery-item-list__item-right"><span>420 руб</span> / <span>11.07</span></div>
							</li>
						</ul>
					</div>
					<div class="side-delivery__info">
						<p>Больше деталей на странице <a href="#">доставка и оплата</a>, а также в процессе оформления заказа.<br /><br /> Также, вы можете обратиться в контактный центр.</p>
					</div>
				</div>
				<!-- side-delivery end -->

				<!-- side-buywith -->
				<div class="side-buywith">
					<div class="side-buywith__title">с этим товаром покупают</div>
					<div class="side-buywith-slider-wrap">
						<div class="side-buywith-slider js-side-buywith-slider">
							<div class="side-buywith-slider__item">
								<a href="#" class="side-buywith-slider__item-link">
									<img src="pic/buywith/buywith-01.jpg" alt="">
								</a>
							</div>
							<div class="side-buywith-slider__item">
								<a href="#" class="side-buywith-slider__item-link">
									<img src="pic/buywith/buywith-02.jpg" alt="">
								</a>
							</div>
							<div class="side-buywith-slider__item">
								<a href="#" class="side-buywith-slider__item-link">
									<img src="pic/buywith/buywith-03.jpg" alt="">
								</a>
							</div>
							<div class="side-buywith-slider__item">
								<a href="#" class="side-buywith-slider__item-link">
									<img src="pic/buywith/buywith-01.jpg" alt="">
								</a>
							</div>
							<div class="side-buywith-slider__item">
								<a href="#" class="side-buywith-slider__item-link">
									<img src="pic/buywith/buywith-02.jpg" alt="">
								</a>
							</div>
							<div class="side-buywith-slider__item">
								<a href="#" class="side-buywith-slider__item-link">
									<img src="pic/buywith/buywith-03.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- side-buywith end -->

				<!-- side-alsolike -->
				<div class="side-alsolike">
					<div class="side-alsolike__title">вам также может понравится</div>
					<div class="side-alsolike-slider-wrap">
						<div class="side-alsolike-slider js-side-alsolike-slider">
							<div class="side-alsolike-slider__item">
								<ul class="side-alsolike-list">
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-01.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-02.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-03.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-04.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-05.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-06.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-07.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-08.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-09.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-10.jpg" alt="">
										</a>
									</li>
								</ul>
							</div>
							<div class="side-alsolike-slider__item">
								<ul class="side-alsolike-list">
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-01.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-02.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-03.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-04.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-05.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-06.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-07.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-08.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-09.jpg" alt="">
										</a>
									</li>
									<li class="side-alsolike-list__item">
										<a href="#" class="side-alsolike-slider__item-link">
											<img src="pic/alsolike/alsolike-10.jpg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- side-alsolike end -->


			</div>
			<!-- product-full-box__right end -->
		</div>
		<!-- product-full-box end -->

		<!-- watched -->
		<div class="watched">
			<div class="watched__title">вы смотрели</div>
			<div class="watched__content">
				<div class="watched-slider-wrap">
					<div class="watched-slider js-watched-slider">
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-01.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-02.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-03.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-04.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-05.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-06.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-07.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
						<div class="watched-slider__item">
							<div class="product-small">
								<div class="product-small__image">
									<a href="#" class="product-small__image-inner">
										<img src="pic/watched/watched-08.jpg" alt="">
									</a>
								</div>
								<div class="product-small__price">2 630 руб</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- watched end -->

		<!-- related-categories -->
		<div class="related-categories">
			<div class="related-categories__title">ПОХОЖИЕ КАТЕГОРИИ</div>
			<div class="related-categories__content">
				<ul class="related-categories-list">
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Игрушки</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Бренды игрушек</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">LEGO</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">LEGO Наборы кубиков и основных элементов</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">DUPLO Наборы деталей и аксессуары</a>
					</li>
				</ul>
				<ul class="related-categories-list">
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Главная</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Конструкторы</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Пластмассовые конструкторы</a>
					</li>
				</ul>
				<ul class="related-categories-list">
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Игрушки</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Категории игрушек</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Конструкторы</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Конструкторы для малышей</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">LEGO DUPLO от 18 месяцев</a>
					</li>
				</ul>
				<ul class="related-categories-list">
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Игрушки</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Категории игрушек</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Мир девочек</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Идеи подарков</a>
					</li>
				</ul>
				<ul class="related-categories-list">
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Скидки и акции</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Акции</a>
					</li>
					<li class="related-categories-list__item">
						<a href="#" class="related-categories__link">Игрушки по суперценам!</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- related-categories end -->
		
		


	</main><!-- MAIN CONTENT [END] -->

	<div class="mobile-res"></div>

@@include('template/layout/footer.html')
 