@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})

	<main class="content service-page">
		<div class="text-page__container service">
			<h1 class="content__title service__title">Сервис</h1>   
			<nav class="service-nav">
				<ul class="service-nav__list">
					<li class="service-nav__list-item">
						<a href="text-page-service.html" class="service-nav__list-link">
							<span class="service-nav__list-icon-box">
								<svg class="service-nav__list-ico sale-rules-ico">
									<use xlink:href="#sale-rules"></use>
								</svg>
							</span>
							<span class="service-nav__list-text">Правила продажи (оферта)</span>
							<svg class="service-nav__list-arrow">
								<use xlink:href="#arrow-forward-right"></use>
							</svg>
						</a>
					</li>
					<li class="service-nav__list-item">
						<a href="text-page-service.html" class="service-nav__list-link">
							<span class="service-nav__list-icon-box">
								<svg class="service-nav__list-ico exchanges-return-ico">
									<use xlink:href="#exchanges-return"></use>
								</svg>
							</span>
							<span class="service-nav__list-text">Возврат и обмен</span>
							<svg class="service-nav__list-arrow">
								<use xlink:href="#arrow-forward-right"></use>
							</svg>
						</a>
					</li>
					<li class="service-nav__list-item">
						<a href="text-page-service.html" class="service-nav__list-link">
							<span class="service-nav__list-icon-box">
								<svg class="service-nav__list-ico accumulative-discount-ico">
									<use xlink:href="#accumulative-discount"></use>
								</svg>
							</span>
							<span class="service-nav__list-text">Накопительные скидки</span>
							<svg class="service-nav__list-arrow">
								<use xlink:href="#arrow-forward-right"></use>
							</svg>
						</a>
					</li>
					<li class="service-nav__list-item">
						<a href="text-page-service.html" class="service-nav__list-link">
							<span class="service-nav__list-icon-box">
								<svg class="service-nav__list-ico coupon-modal-ico">
									<use xlink:href="#coupon-modal"></use>
								</svg>
							</span>
							<span class="service-nav__list-text">Промокоды</span>
							<svg class="service-nav__list-arrow">
								<use xlink:href="#arrow-forward-right"></use>
							</svg>
						</a>
					</li>
					<li class="service-nav__list-item">
						<a href="text-page-service.html" class="service-nav__list-link">
							<span class="service-nav__list-icon-box">
								<svg class="service-nav__list-ico cart-modal-ico">
									<use xlink:href="#cart-modal"></use>
								</svg>
							</span>
							<span class="service-nav__list-text">Яндекс-маркет</span>
							<svg class="service-nav__list-arrow">
								<use xlink:href="#arrow-forward-right"></use>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>                
	</main><!-- MAIN CONTENT [END] -->


@@include('template/layout/footer.html')
 