@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})

	<main class="content text-page text-page--service">
		
		<div class="service-back">
			<a href="service.html" class="service-back__link">
				<svg class="service-back__link-ico">
					<use xlink:href="#arrow-back"></use>
				</svg>
				<span class="service-back__link-text">Назад</span>
			</a>
		</div>
	
		<div class="text-page__container">
			<h1 class="content__title content__title--servise">
				<svg class="content__title-ico sale-rules-ico">
					<use xlink:href="#sale-rules"></use>
				</svg>
				<span class="content__title-text">Правила продажи (оферта)</span>
			</h1>
			<div class="text-page__box">
				<ul class="method__list">
					<li class="method__list-item">
						<a class="method__list-link" href="#">Доставка</a>
						<span class="method__list-line">-</span>
					</li>
					<li class="method__list-item">
						<a class="method__list-link" href="#">Способы оплаты</a>
						<span class="method__list-line">-</span>
					</li>
					<li class="method__list-item">
						<a class="method__list-link" href="#">Кредит</a>
						<span class="method__list-line">-</span>
					</li>
					<li class="method__list-item">
						<a class="method__list-link" href="#">Гарантия</a>
						<span class="method__list-line">-</span>
					</li>
				</ul>  
				<p>Мы знаем, насколько важно для вас купить именно то, что вам нравится. Поэтому предлагаем различные способы оплаты, в том числе покупку в кредит на выгодных условиях.</p>
				<h2>Демисезонная детская обувь</h2>
				<h3>Как выбрать детскую обувь на демисезон</h3>
				<p>Чтобы сделать правильный выбор и угодить малышу, следуйте нескольким простым правилам. А благодаря нашему обзору вы также узнаете, какие модели современной демисезонной обуви сейчас наиболее популярны.</p>
				<p>Детская демисезонная обувь должна отвечать следующим требованиям:</p>
				
				<div class="static-content">
					<ul>
						<li>Удобство и комфорт носки.</li>
						<li>Обувь должна не пропускать влагу.</li>
						<li>Надёжная защита от холода, но одновременно ботинки должны «дышать», чтобы не допустить перегрева и опрелостей.</li>
						<li>Максимально устойчивая подошва против скольжения.</li>
						<li>Обувь должна нравиться малышу.</li>
					</ul>
				</div>


			</div>
		</div>                    

	</main><!-- MAIN CONTENT [END] -->


@@include('template/layout/footer.html')
 