@@include('template/layout/header.html', {
	"mod": "header--noBottom"
})

	<main class="content text-page">

		<div class="breadcrumb">
			<ul class="breadcrumb__list">                        
				<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Главная</a></li>
				<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Бренды </a></li>
				<li class="breadcrumb__item"><span href="#" class="breadcrumb__link breadcrumb__link--active">Mayoral</span></li>
			</ul>
		</div>

		<div class="text-page__container">
			<h1 class="content__title">Кредит</h1>
			<div class="text-page__box">
				<ul class="method__list">
					<li class="method__list-item">
						<a class="method__list-link" href="#">Доставка</a>
						<span class="method__list-line">-</span>
					</li>
					<li class="method__list-item">
						<a class="method__list-link" href="#">Способы оплаты</a>
						<span class="method__list-line">-</span>
					</li>
					<li class="method__list-item">
						<a class="method__list-link" href="#">Кредит</a>
						<span class="method__list-line">-</span>
					</li>
					<li class="method__list-item">
						<a class="method__list-link" href="#">Гарантия</a>
						<span class="method__list-line">-</span>
					</li>
				</ul>  
				<p>Мы знаем, насколько важно для вас купить именно то, что вам нравится. Поэтому предлагаем различные способы оплаты, в том числе покупку в кредит на выгодных условиях.</p>
				<h2>Демисезонная детская обувь</h2>
				<h3>Как выбрать детскую обувь на демисезон</h3>
				<p>Чтобы сделать правильный выбор и угодить малышу, следуйте нескольким простым правилам. А благодаря нашему обзору вы также узнаете, какие модели современной демисезонной обуви сейчас наиболее популярны.</p>
				<p>Детская демисезонная обувь должна отвечать следующим требованиям:</p>
				
				<div class="static-content">
					<ul>
						<li>Удобство и комфорт носки.</li>
						<li>Обувь должна не пропускать влагу.</li>
						<li>Надёжная защита от холода, но одновременно ботинки должны «дышать», чтобы не допустить перегрева и опрелостей.</li>
						<li>Максимально устойчивая подошва против скольжения.</li>
						<li>Обувь должна нравиться малышу.</li>
					</ul>
				</div>
				<div class="banks">
					<h2>Программы и банки, с которыми мы работаем</h2>
					<ul class="banks__list">
						<li class="banks__list-item">
							<img class="banks__list-img" src="pic/banks/banks-01.jpg" alt="">
						</li>
						<li class="banks__list-item">
							<img class="banks__list-img" src="pic/banks/banks-01.jpg" alt="">
						</li>
						<li class="banks__list-item">
							<img class="banks__list-img" src="pic/banks/banks-01.jpg" alt="">
						</li>
						<li class="banks__list-item">
							<img class="banks__list-img" src="pic/banks/banks-01.jpg" alt="">
						</li>
					</ul>
 				</div>
 				<div class="advantages">
 					<h2>Преимущества покупки в кредит</h2>
 					<ul class="advantages__list">
 						<li class="advantages__list-item">
 							<div class="advantages__list-box">
	 							<svg class="advantages__list-ico shopping-bag-timeout-ico">
	 								<use xlink:href="#shopping-bag-timeout"></use>
	 							</svg>
	 						</div>
 							<span class="advantages__list-text">Возможность не откладывать покупку на завтра</span>
 						</li>
 						<li class="advantages__list-item">
 							<div class="advantages__list-box">
	 							<svg class="advantages__list-ico calendar-heart-ico">
	 								<use xlink:href="#calendar-heart"></use>
	 							</svg>
	 						</div>
 							<span class="advantages__list-text">Оплата товара в удобный для вас срок</span>
 						</li>
 						<li class="advantages__list-item">
 							<div class="advantages__list-box">
	 							<svg class="advantages__list-ico auction-ico">
	 								<use xlink:href="#auction"></use>
	 							</svg>
	 						</div>	
 							<span class="advantages__list-text">Возможность приобрести товар без первоначального взноса</span>
 						</li>
 						<li class="advantages__list-item">
 							<div class="advantages__list-box">
	 							<svg class="advantages__list-ico bank-note-fire-ico">
	 								<use xlink:href="#bank-note-fire"></use>
	 							</svg>
 							</div>
 							<span class="advantages__list-text">Досрочное погашение кредита без комиссии</span>
 						</li>
 					</ul>
 				</div>


			</div>
		</div>                    

	</main><!-- MAIN CONTENT [END] -->


@@include('template/layout/footer.html')
 