<div class="action-current">
	<div class="container">
		<h2 class="action-current__title">ТЕКУЩИЕ АКЦИИ</h2>	
		<ul class="action-current__list">
			<li class="action-current__list-item">
				<div class="action-current__list-left">
					<img src="pic/childs/childs-06.jpg" alt="">
				</div>
				<div class="action-current__list-right">
					<div class="action-banner__box">
						<span class="action-banner__title">Школьная форма,<br>обувь и ранцы</span>
						<ul class="action-banner__list">
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Nike</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Superfit</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Minimen</a>
							</li>
						</ul>
						<div class="banner-line"></div>
						<div class="action-banner__time">
							<svg class="action-banner__time-ico timer-black-ico">
								<use xlink:href="#timer-black"></use>
							</svg>
							<span class="action-banner__time-text">10 дн. 03:24:65</span>
						</div>
						<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
					</div>
					<div class="action-banner__sticker">
						<span class="action-banner__sticker-val">40%</span>
					</div>
				</div>
			</li>
			<li class="action-current__list-item">
				<div class="action-current__list-left">
					<img src="pic/childs/childs-06.jpg" alt="">
				</div>
				<div class="action-current__list-right">
					<div class="action-banner__box">
						<span class="action-banner__title">Школьная форма,<br>обувь и ранцы</span>
						<ul class="action-banner__list">
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Nike</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Superfit</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Minimen</a>
							</li>
						</ul>
						<div class="banner-line"></div>
						<div class="action-banner__time">
							<svg class="action-banner__time-ico timer-black-ico">
								<use xlink:href="#timer-black"></use>
							</svg>
							<span class="action-banner__time-text">10 дн. 03:24:65</span>
						</div>
						<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
					</div>
					<div class="action-banner__sticker">
						<span class="action-banner__sticker-val">40%</span>
					</div>
				</div>
			</li>
			<li class="action-current__list-item">
				<div class="action-current__list-left">
					<img src="pic/childs/childs-06.jpg" alt="">
				</div>
				<div class="action-current__list-right">
					<div class="action-banner__box">
						<span class="action-banner__title">Школьная форма,<br>обувь и ранцы</span>
						<ul class="action-banner__list">
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Nike</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Superfit</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Minimen</a>
							</li>
						</ul>
						<div class="banner-line"></div>
						<div class="action-banner__time">
							<svg class="action-banner__time-ico timer-black-ico">
								<use xlink:href="#timer-black"></use>
							</svg>
							<span class="action-banner__time-text">10 дн. 03:24:65</span>
						</div>
						<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
					</div>
					<div class="action-banner__sticker">
						<span class="action-banner__sticker-val">40%</span>
					</div>
				</div>
			</li>
			<li class="action-current__list-item">
				<div class="action-current__list-left">
					<img src="pic/childs/childs-06.jpg" alt="">
				</div>
				<div class="action-current__list-right">
					<div class="action-banner__box">
						<span class="action-banner__title">Школьная форма,<br>обувь и ранцы</span>
						<ul class="action-banner__list">
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Nike</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Superfit</a>
							</li>
							<li class="action-banner__list-item">
								<a href="#" class="action-banner__list-link">Minimen</a>
							</li>
						</ul>
						<div class="banner-line"></div>
						<div class="action-banner__time">
							<svg class="action-banner__time-ico timer-black-ico">
								<use xlink:href="#timer-black"></use>
							</svg>
							<span class="action-banner__time-text">10 дн. 03:24:65</span>
						</div>
						<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
					</div>
					<div class="action-banner__sticker">
						<span class="action-banner__sticker-val">40%</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>