<div class="action-banner">
	<div class="action-banner__right" style="background: url('pic/banners/01.jpg') top center no-repeat;">
	</div>
	<div class="action-banner__left">
		<div class="action-banner__box">
			<span class="action-banner__title">Распродажа <br>обуви на осень</span>
			<ul class="action-banner__list">
				<li class="action-banner__list-item">
					<a href="#" class="action-banner__list-link">Nike</a>
				</li>
				<li class="action-banner__list-item">
					<a href="#" class="action-banner__list-link">Superfit</a>
				</li>
				<li class="action-banner__list-item">
					<a href="#" class="action-banner__list-link">Minimen</a>
				</li>
				<li class="action-banner__list-item">
					<a href="#" class="action-banner__list-link">Flamingo</a>
				</li>
				<li class="action-banner__list-item">
					<a href="#" class="action-banner__list-link">Pablosky</a>
				</li>
				<li class="action-banner__list-item">
					<a href="#" class="action-banner__list-link">Geox</a>
				</li>
			</ul>
			<div class="banner-line"></div>
			<div class="action-banner__time">
				<svg class="action-banner__time-ico timer-black-ico">
					<use xlink:href="#timer-black"></use>
				</svg>
				<span class="action-banner__time-text">10 дн. 03:24:65</span>
			</div>
			<a href="#" class="action-banner__link btn btn--green">Подробнее</a>
		</div>
		<div class="action-banner__sticker">
			<span class="action-banner__sticker-val">40%</span>
		</div>
	</div>
</div>                         