<div class="main-banner">
	<ul class="main-banner__list js-banner-slider">
		<li class="main-banner__list-item">
		  <div class="main-banner__right" style="background: url('pic/banners/01.jpg') top center no-repeat;">
			</div>
			<div class="main-banner__left">
				<div class="main-banner-drop">
					<p class="main-banner-drop__text">Сумка-коврик в подарок при покупке Micro, Puky, Strider и Bonna.  
					Укажите в комментарии к заказу: "сумка-коврик в подарок".  
					Предложение действительно пока подарки есть в наличии.</p>
					<span class="main-banner-drop__promo">Код:  AKTIV15 </span>
					<p class="main-banner-drop__text">действителен до 30.06.15 включительно, не суммируется с личной накопительной скидкой, не действует на товары со скидками.</p>
					<a href="#" class="btn btn--white main-banner-drop__close js-action-close">Закрыть</a>
				</div>
		  	<div class="main-banner__box">
		  		<div class="main-banner__top">
		  			<span class="main-banner__top-year">2016</span>
		  			<span class="main-banner__top-text">осенняя коллекция</span>
		  		</div>
		  		<span class="main-banner__title">Mayoral.<br> Выбираем шорты<br> и свитшоты на осень.</span>
		  		<ul class="action-banner__list">
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Flamingo</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Indigo Kids</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Mursu</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Зебра</a>
						</li>
					</ul>
					<div class="banner-line"></div>
					<span class="main-banner__coupon">код купона: BOYS10</span>
					<div class="main-banner__bottom">
						<a href="#" class="btn btn--green main-banner__link main-banner__link--left">Подробнее</a>
						<a href="#" class="btn btn--gray main-banner__link main-banner__link--right js-action-open">условия акции</a>
					</div>
		  	</div>
		  </div> 
		</li>
		<li class="main-banner__list-item">
		  <div class="main-banner__right" style="background: url('pic/banners/01.jpg') top center no-repeat;">
			</div>
			<div class="main-banner__left">
				<div class="main-banner-drop">
					<p class="main-banner-drop__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit autem expedita commodi, quasi modi necessitatibus quisquam animi aperiam repellat. Commodi tenetur, facere cum tempora labore accusamus ipsum, architecto distinctio doloremque ex placeat earum perspiciatis iusto, numquam a sed. Eos, vero tempore quod animi minima, adipisci velit at. Et impedit iure labore, cupiditate voluptatibus dicta sit neque explicabo exercitationem praesentium sunt animi harum modi! Nam doloremque fugiat exercitationem inventore magnam obcaecati qui laborum officiis, unde ad quo a explicabo quisquam dolor impedit harum. Libero voluptatem illum, aspernatur necessitatibus eum alias quasi perferendis ratione dolore. Consequatur vitae sit soluta, nam, corrupti ex.</p>
					<span class="main-banner-drop__promo">Код:  AKTIV15 </span>
					<p class="main-banner-drop__text">действителен до 30.06.15 включительно, не суммируется с личной накопительной скидкой, не действует на товары со скидками.</p>
					<a href="#" class="btn btn--white main-banner-drop__close js-action-close">Закрыть</a>
				</div>
		  	<div class="main-banner__box">
		  		<div class="main-banner__top">
		  			<span class="main-banner__top-year">2016</span>
		  			<span class="main-banner__top-text">осенняя коллекция</span>
		  		</div>
		  		<span class="main-banner__title">Mayoral.<br> Выбираем шорты<br> и свитшоты на осень.</span>
		  		<ul class="action-banner__list">
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Flamingo</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Indigo Kids</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Mursu</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Зебра</a>
						</li>
					</ul>
					<div class="banner-line"></div>
					<span class="main-banner__coupon">код купона: BOYS10</span>
					<div class="main-banner__bottom">
						<a href="#" class="btn btn--green main-banner__link main-banner__link--left">Подробнее</a>
						<a href="#" class="btn btn--gray main-banner__link main-banner__link--right js-action-open">условия акции</a>
					</div>
		  	</div>
		  </div>  
		</li>
		<li class="main-banner__list-item">
		  <div class="main-banner__right" style="background: url('pic/banners/01.jpg') top center no-repeat;">
			</div>
			<div class="main-banner__left">
				<div class="main-banner-drop">
					<p class="main-banner-drop__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo delectus tenetur eum quaerat, cum praesentium velit dicta incidunt! Dignissimos deleniti commodi cupiditate nesciunt ducimus, dolor rerum officiis excepturi culpa dolorem obcaecati doloribus repellat, error debitis explicabo voluptatem delectus praesentium suscipit quibusdam soluta, beatae nulla porro? Ullam provident tenetur, reiciendis optio.</p>
					<span class="main-banner-drop__promo">Код:  AKTIV15 </span>
					<p class="main-banner-drop__text">действителен до 30.06.15 включительно, не суммируется с личной накопительной скидкой, не действует на товары со скидками.</p>
					<a href="#" class="btn btn--white main-banner-drop__close js-action-close">Закрыть</a>
				</div>
		  	<div class="main-banner__box">
		  		<div class="main-banner__top">
		  			<span class="main-banner__top-year">2016</span>
		  			<span class="main-banner__top-text">осенняя коллекция</span>
		  		</div>
		  		<span class="main-banner__title">Mayoral.<br> Выбираем шорты<br> и свитшоты на осень.</span>
		  		<ul class="action-banner__list">
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Flamingo</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Indigo Kids</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Mursu</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Зебра</a>
						</li>
					</ul>
					<div class="banner-line"></div>
					<span class="main-banner__coupon">код купона: BOYS10</span>
					<div class="main-banner__bottom">
						<a href="#" class="btn btn--green main-banner__link main-banner__link--left">Подробнее</a>
						<a href="#" class="btn btn--gray main-banner__link main-banner__link--right js-action-open">условия акции</a>
					</div>
		  	</div>
		  </div>  
		</li>
	</ul>
</div>
<div class="main-banner-mobile">
	<ul class="main-banner-mobile__list js-banner-slider-mobile">
		<li class="main-banner-mobile__list-item" style="background-image: url('pic/banners-mobile/01.jpg')">
			<div class="main-banner-mobile__list-box">
				<span class="main-banner-mobile__list-title">60%</span>
				<span class="main-banner-mobile__list-text">Button blue.<br> Шорты и свитшоты. </span>
				<a href="#" class="btn btn--green main-banner-mobile__list-link">Перейти к покупкам</a>
			</div>
		</li>
		<li class="main-banner-mobile__list-item" style="background-image: url('pic/banners-mobile/01.jpg')">
			<div class="main-banner-mobile__list-box">
				<span class="main-banner-mobile__list-title">60%</span>
				<span class="main-banner-mobile__list-text">Button blue.<br> Шорты и свитшоты. </span>
				<a href="#" class="btn btn--green main-banner-mobile__list-link">Перейти к покупкам</a>
			</div>
		</li>
		<li class="main-banner-mobile__list-item" style="background-image: url('pic/banners-mobile/01.jpg')">
			<div class="main-banner-mobile__list-box">
				<span class="main-banner-mobile__list-title">60%</span>
				<span class="main-banner-mobile__list-text">Button blue.<br> Шорты и свитшоты. </span>
				<a href="#" class="btn btn--green main-banner-mobile__list-link">Перейти к покупкам</a>
			</div>
		</li>
	</ul>
</div>
