<div class="modal modal--popup">	
	<div class="modal-messengers">
		<div class="modal__top">
			<svg class="modal__top-ico messengers-ico">
				<use xlink:href="#messengers"></use>
			</svg>
		</div>
		<h3 class="modal__title">Мессенджеры и соцсети</h3>
		<ul class="modal-messengers__list">
			<li class="modal-messengers__list-item">
				<a href="#" class="modal-messengers__list-link">
					<svg class="modal-messengers__list-ico whatsup-modal-ico">
						<use xlink:href="#whatsup-modal"></use>
					</svg>
				</a>
			</li>
			<li class="modal-messengers__list-item">
				<a href="#" class="modal-messengers__list-link">
					<svg class="modal-messengers__list-ico viber-modal-ico">
						<use xlink:href="#viber-modal"></use>
					</svg>
				</a>
			</li>
			<li class="modal-messengers__list-item">
				<a href="#" class="modal-messengers__list-link">
					<svg class="modal-messengers__list-ico vk-modal-ico">
						<use xlink:href="#vk-modal"></use>
					</svg>
				</a>
			</li>
			<li class="modal-messengers__list-item">
				<a href="#" class="modal-messengers__list-link">
					<svg class="modal-messengers__list-ico fb-modal-ico">
						<use xlink:href="#fb-modal"></use>
					</svg>
				</a>
			</li>
		</ul>
		<p class="modal-messengers__text">Чтобы написать, добавьте наш номер<br> 8 (926) 454 6565 в свою адресную книгу</p>		
		<div class="modal-messengers__bottom">
			<svg class="modal-messengers__bottom-ico phone-modal-ico">
				<use xlink:href="#phone-modal"></use>
			</svg>
			<a class="modal-messengers__bottom-phone" href="tel:88003331577">8 (800) 333 15 77</a>
			<span class="modal-messengers__bottom-text">(с 9 до 21)</span>
		</div>
	</div>	
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--successful" id="modal-successful">
	<div class="modal-successful">
		<div class="modal__top">
			<svg class="modal__top-ico successful-modal-ico">
				<use xlink:href="#successful-modal"></use>
			</svg>
		</div>
		<h3 class="modal__title">Восстановление пароля прошло успешно!</h3>
		<span class="modal-successful__text">Письмо с инструкцией отправлено на указанный адрес</span>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--access">
	<div class="modal-access">
		<div class="modal__top">
			<svg class="modal__top-ico change-pass-modal-ico">
				<use xlink:href="#change-pass-modal"></use>
			</svg>
		</div>
		<h3 class="modal__title">Доступ к акциям</h3>
		<div class="modal-access__box">
			<div class="modal-access__left">
				<form action="#" class="modal-access__form">
					<span class="modal-access__left-text">В активиционном письме вас ждёт<br>5% скидка на первую покупку</span>
					<div class="modal-access__form-row">
						<input type="email" required class="input input--border" placeholder="E-mail">
					</div>
					<div class="modal-access__form-row">
						<input type="checkbox" name="check" id="modal-access__check" class="modal-access__form-check"> <label for="modal-access__check" class="modal-access__form-label check-label">Я хочу получать регулярные<br> рассылки от Kinderly</label>
					</div>
					<div class="modal-access__form-row">
						<button type="submit" class="btn btn--gray2 modal-access__form-submit">Активировать</button>
					</div>
				</form>
			</div>
			<div class="modal-access__right">
				<div class="modal-access__action">
					<span class="modal-access__action-title">Акции в Kinderly это</span>
					<ul class="modal-access__list">
						<li class="modal-access__list-item">
							<svg class="modal-access__list-ico coupon-modal-ico">
								<use xlink:href="#coupon-modal"></use>
							</svg>
							<span class="modal-access__list-text">Эксклюзивные скидки до 70% на детские товары</span>
						</li>
						<li class="modal-access__list-item">
							<svg class="modal-access__list-ico popular-brand-modal-ico">
								<use xlink:href="#popular-brand-modal"></use>
							</svg>
							<span class="modal-access__list-text">Самые известные бренды детской одежды и обуви</span>
						</li>
						<li class="modal-access__list-item">
							<svg class="modal-access__list-ico popular-brand-modal-ico">
								<use xlink:href="#popular-brand-modal"></use>
							</svg>
							<span class="modal-access__list-text">Доставка на следующий день!</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--contacts" id="contact-popup">
	<div class="modal-contacts">
		<div class="modal-contacts__top">
			<svg class="modal-contacts__top-ico phone-modal-ico">
				<use xlink:href="#phone-modal"></use>
			</svg>
			<span class="modal-contacts__top-phone">8 (800) 333 15 77</span>
			<span class="modal-contacts__top-time">(с 9 до 21)</span>
		</div>
		<div class="modal-contacts__box">
			<div class="modal-contacts__left">
				<div class="modal__top">
					<svg class="modal__top-ico callback-modal-ico">
						<use xlink:href="#callback-modal"></use>
					</svg>
				</div>
				<span class="modal-contacts__title">Оставьте<br> свой номер телефона</span>
				<span class="modal-contacts__title-text">Мы перезвоним в течение<br> 15 минут</span>
				<form action="#" class="modal-contacts__form">
					<div class="modal-contacts__form-row">
						<input type="text" required class="input input--border js-mask-phone" placeholder="+7 (___) ___ __ __ ">
					</div>
					<div class="modal-contacts__form-row">
						<input type="text" required class="input input--border" placeholder="Имя">
					</div>
					<div class="modal-contacts__form-row">
						<button type="submit" class="modal-contacts__form-submit btn btn--gray2">Свяжитесь со мной</button>
					</div>
				</form>

			</div>
			<div class="modal-contacts__right">
				<div class="modal__top">
					<svg class="modal__top-ico messengers-ico">
						<use xlink:href="#messengers"></use>
					</svg>
				</div>
				<span class="modal-contacts__title">Мессенджеры <br>и соцсети</span>
				<span class="modal-contacts__title-text"></span>
				<div class="modal-contacts__messengers">
					<div class="modal-contacts__messengers-item">
						<div class="modal-contacts__messengers-col">
							<a href="#" class="modal-contacts__messengers-link">
								<svg class="modal-contacts__messengers-ico whatsup-modal-ico">
									<use xlink:href="#whatsup-modal"></use>
								</svg>
								<span class="modal-contacts__messengers-name">Whatsapp</span>
							</a>
						</div>
						<div class="modal-contacts__messengers-col">
							<a href="#" class="modal-contacts__messengers-link">
								<svg class="modal-contacts__messengers-ico viber-modal-ico">
									<use xlink:href="#viber-modal"></use>
								</svg>
								<span class="modal-contacts__messengers-name">Viber</span>
							</a>
						</div>
						<span class="modal-contacts__messengers-text">Чтобы написать, добавьте наш номер 8 (926) 454 6565 в свою адресную книгу</span>
					</div>
					<div class="modal-contacts__messengers-item">
						<div class="modal-contacts__messengers-col">
							<a href="#" class="modal-contacts__messengers-link">
								<svg class="modal-contacts__messengers-ico vk-modal-ico">
									<use xlink:href="#vk-modal"></use>
								</svg>
								<span class="modal-contacts__messengers-name">Вконтакте</span>
							</a>
						</div>
						<div class="modal-contacts__messengers-col">
							<a href="#" class="modal-contacts__messengers-link">
								<svg class="modal-contacts__messengers-ico fb-modal-ico">
									<use xlink:href="#fb-modal"></use>
								</svg>
								<span class="modal-contacts__messengers-name">Фейсбук</span>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--grid" id="modal-grid">
	<div class="modal-grid">
		<div class="modal__top">
			<svg class="modal__top-ico ruler-modal-ico">
				<use xlink:href="#ruler-modal"></use>
			</svg>
		</div>
		<h3 class="modal__title">Размерная сетка Nike</h3>
		<div class="modal-grid__box">
			<ul class="modal-grid-nav">
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-tab1" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-link">Колготки</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-tab2" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-link">Носки</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-tab3" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-link">Обувь</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-tab4" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-link">Колготки</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-tab5" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-link">Носки</a>
				</li>
			</ul>
			<div class="modal-grid-cont">
				<div class="modal-grid__block js-modal-grid-block" id="modal-grid-tab1">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
								<th>Размер (USA)</th>
								<th>Длина стельки (см)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-block" id="modal-grid-tab2">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
								<th>Размер (USA)</th>
								<th>Длина стельки (см)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-block" id="modal-grid-tab3">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
								<th>Размер (USA)</th>
								<th>Длина стельки (см)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-block" id="modal-grid-tab4">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
								<th>Размер (USA)</th>
								<th>Длина стельки (см)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
								<td>4С</td>
								<td>10</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
								<td>3.5С</td>
								<td>9,5</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-block" id="modal-grid-tab5">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
								<th>Размер (USA)</th>
								<th>Длина стельки (см)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<p class="modal-grid__desc">Нарядная блузка Силвер Спун украшена стразами и арганзой. На воротнике декоративная пуговица со стразами. Ткань мягкая и приятная на ощупь, хорошо тянется, не стесняет движения. </p>
		
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--grid" id="modal-grid-min">
	<div class="modal-grid modal-grid--min">
		<div class="modal__top">
			<svg class="modal__top-ico ruler-modal-ico">
				<use xlink:href="#ruler-modal"></use>
			</svg>
		</div>
		<h3 class="modal__title">Размерная сетка Nike</h3>
		<div class="modal-grid__box">
			<ul class="modal-grid-nav">
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-min-tab1" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-min-link">Колготки</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-min-tab2" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-min-link">Носки</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-min-tab3" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-min-link">Обувь</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-min-tab4" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-min-link">Колготки</a>
				</li>
				<li class="modal-grid-nav__item">
					<a href="#modal-grid-min-tab5" class="modal-grid-nav__link btn btn--gray3 js-modal-grid-min-link">Носки</a>
				</li>
			</ul>
			<div class="modal-grid-cont">
				<div class="modal-grid__block js-modal-grid-min-block" id="modal-grid-min-tab1">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-min-block" id="modal-grid-min-tab2">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-min-block" id="modal-grid-min-tab3">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-min-block" id="modal-grid-min-tab4">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19.5</td>
								<td>16.5</td>
							</tr>
							<tr>
								<td>19</td>
								<td>16</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-grid__block js-modal-grid-min-block" id="modal-grid-min-tab5">
					<table>
						<thead>
							<tr>
								<th>Размер Kinderly (EUR)</th>
								<th>Размер (RUS)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<p class="modal-grid__desc">Нарядная блузка Силвер Спун украшена стразами и арганзой. На воротнике декоративная пуговица со стразами. Ткань мягкая и приятная на ощупь, хорошо тянется, не стесняет движения. </p>

		</div>
		
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--comment" id="modal-comment">
	<div class="modal-comment">
		<div class="modal__top">
			<svg class="modal__top-ico comment-modal-ico">
				<use xlink:href="#comment-modal"></use>
			</svg>
		</div>
		<div class="modal-comment__top">
			<div class="modal-comment__top-button">
				<a href="#" class="modal-comment__top-button-link">Вопрос</a>
				<a href="#" class="modal-comment__top-button-link modal-comment__top-button-link--active">Отзыв</a>
			</div>
			<div class="stars">
				<svg class="stars__ico star-ico">
					<use xlink:href="#star"></use>
				</svg>
				<svg class="stars__ico star-ico">
					<use xlink:href="#star-empty"></use>
				</svg>
				<svg class="stars__ico star-ico">
					<use xlink:href="#star-empty"></use>
				</svg>
				<svg class="stars__ico star-ico">
					<use xlink:href="#star-empty"></use>
				</svg>
				<svg class="stars__ico star-ico">
					<use xlink:href="#star-empty"></use>
				</svg>
			</div>
			<span class="modal-comment__top-text">Как вам товар при использовании или осмотре вживую?</span>
		</div>

		<form action="#" class="modal-comment__form">
			<div class="modal-comment__form-row">
				<textarea class="modal-comment__form-textarea input input--border" placeholder="Оставьте свой отзыв"></textarea>
			</div>
			<div class="modal-comment__form-row">
				<div class="modal-comment__form-col">
					<input type="text" required placeholder="Ваше имя" class="input input--border">
				</div>
				<div class="modal-comment__form-col">
					<input type="email" required placeholder="E-mail" class="input input--border">
				</div>
			</div>
			<div class="modal-comment__form-row">
				<input type="checkbox" name="check" id="modal-comment__form-check"> <label class="check-label modal-comment__form-label" for="modal-comment__form-check">Хочу получать рассылку от Киндерли о новинках, распродажах, и специальных акциях.</label>
			</div>
			<div class="modal-comment__form-row">
				<div class="modal-comment__form-buttons">
					<a href="#" class="modal-comment__form-cancel btn btn--gray">Отмена</a>
					<button type="submit" class="btn btn--gray2 modal-comment__form-submit">Оставить отзыв</button>
				</div>
				
			</div>
		</form>
		
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--childReg" id="modal-childReg">
	<div class="modal-childReg">
		<div class="modal-childReg__left">
			<div class="modal-childReg__image">
				<img class="modal-childReg__img" src="pic/child-reg.jpg" alt="">
			</div>
			<span class="modal-childReg__title">Присоединяйтесь!
				<span class="modal-childReg__title-text">к нашей программе лояльности 
				<br>
				<span class="modal-childReg__title-br">и получите скидку</span>
				<span class="modal-childReg__title-action">5% на первый заказ</span></span>
			</span>
		</div>
		<div class="modal-childReg__right">
			<form action="#" class="modal-childReg__form">
				<div class="modal-childReg__info">
					<div class="modal-childReg__info-col">
						<span class="modal-childReg__info-name">Дата рождения ребёнка</span>
						<div class="modal-childReg__info-box">
							<span class="default-select modal-childReg__info-select">
								<select name="Select" id="modal-childReg__info-day">
									<option value="">День</option>
									<option value="">Two</option>
									<option value="">Three</option>
								</select>
								<svg class="default-select__ico">
									<use xlink:href="#arow-down"></use>
								</svg>
							</span>
							<span class="default-select modal-childReg__info-select">
								<select name="Select" id="modal-childReg__info-month">
									<option value="">Месяц</option>
									<option value="">Two</option>
									<option value="">Three</option>
								</select>
								<svg class="default-select__ico">
									<use xlink:href="#arow-down"></use>
								</svg>
							</span>
							<span class="default-select modal-childReg__info-select">
								<select name="Select" id="modal-childReg__info-year">
									<option value="">Год</option>
									<option value="">Two</option>
									<option value="">Three</option>
								</select>
								<svg class="default-select__ico">
									<use xlink:href="#arow-down"></use>
								</svg>
							</span>
						</div>
					</div>
					<div class="modal-childReg__info-col">
						<span class="modal-childReg__info-name">Пол</span>
						<div class="modal-childReg__info-box">
							<a href="#" class="modal-childReg__info-link">
								<svg class="modal-childReg__info-ico man-modal-ico woman-modal-ico">
									<use xlink:href="#woman-modal"></use>
								</svg>
							</a>
							<a href="#" class="modal-childReg__info-link modal-childReg__info-link--active">
								<svg class="modal-childReg__info-ico man-modal-ico man-modal-ico">
									<use xlink:href="#man-modal"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="modal-childReg__form-row">
					<a href="#" class="btn btn--gray modal-childReg__form-addLink">Добавить ещё ребёнка</a>
				</div>
				<div class="modal-childReg__form-row">
					<input type="email" required placeholder="Введите свой e-mail" class="input input--border">
				</div>
				<div class="modal-childReg__form-row">
					<button type="submit" class="btn btn--green modal-childReg__form-submit">Присоединиться</button>
				</div>
				<div class="modal-childReg__form-row">
					<input type="checkbox" name="check" id="modal-childReg__form-check"><label class="check-label modal-childReg__form-label-check" for="modal-childReg__form-check">Я согласен получать регулярные рассылки Kinderly.ru</label>
				</div>
			</form>
			<p class="modal-childReg__desc">Купон на первую покупку будет выслан на электронную почту. 
			Срок действия купона - 7 дней. Купон применяется не на все товары, 
			подробности об условиях применения в письме.</p>		
		</div>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--basket" id="modal-basket">
	<div class="modal-basket">
		<div class="modal__top">
			<svg class="modal__top-ico cart-modal-ico">
				<use xlink:href="#cart-modal"></use>
			</svg>
		</div>
		<div class="modal-basket__box">
			<div class="modal-basket__row">
				<h3 class="modal__title">Корзина</h3>
				<span class="modal-basket__noItem">У вас нет товаров в корзине</span>
				<a href="#" class="btn btn--green modal-basket__back">Вернуться</a>
			</div>
			<div class="modal-basket__row">
				<h3 class="modal__title">Подпишись на рассылку!</h3>
				<span class="modal-basket__noItem">С акциями и распродажами!</span>
				<form action="#" class="modal-basket__form">
					<div class="modal-basket__form-row">
						<input type="email" required class="input input--border" placeholder="E-mail">
					</div>
					<div class="modal-basket__form-row">
						<button type="submit" class="btn btn--gray3 modal-basket__form-submit">Подписаться</button>
					</div>
				</form>
			</div>
		</div>	
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--thx" id="modal-thx">
	<div class="modal-thx">
		<h3 class="modal-thx__title">Спасибо за заявку.</h3>
		<p class="modal-thx__text">Как только цена изменится. мы пришлем вам уведомление</p>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup" id="modal-onlyReg">
	<div class="modal-onlyReg">
		<p class="modal-onlyReg__text">Уведомления о снижении цены мы можем отправлять только зарегистрированным пользователям!</p>
		<form action="back/form.php" class="modal-onlyReg__form" id="modal-onlyReg__form">
			<div class="modal-onlyReg__form-row">
				<input type="email" required placeholder="E-mail" class="input input--border">
			</div>
			<div class="modal-onlyReg__form-row">
				<button type="submit" class="btn btn--gray2 modal-onlyReg__form-submit">Регистрация</button>
			</div>
		</form>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--delivery" id="modal-delivery">
	<div class="modal-delivery">
		<div class="modal__top">
			<svg class="modal__top-ico delivery-modal-ico">
				<use xlink:href="#delivery-modal"></use>
			</svg>
			<span class="modal-delivery__title">Выберите город</span>
		</div>
		<h3 class="modal__title">Доставка<br> Санкт-Петербург</h3>
		<form action="#" class="modal-delivery__form">
			<div class="modal-delivery__form-row">
				<div class="modal-delivery__search">
					<input type="text" required class="input input--border modal-delivery__search-input filter" placeholder="Search..." name="liveFilter">
					
					<button type="submit" class="modal-delivery__search-submit">
						<svg class="modal-delivery__search-ico search-white-ico">
							<use xlink:href="#search-white"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="modal-delivery__container">
				<ul class="modal-delivery__list js-filter-delivery">
					<div class="modal-delivery__list-col">
						<div class="modal-delivery__list-block">
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Москва</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Санкт-Петербург</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Архангельск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Астрахань</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Барнаул</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Белгород</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Брянск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Владивосток</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Владимир</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Волгоград</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Воронеж</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Екатеринбург</a>
							</li>
						</div>
					</div>
					<div class="modal-delivery__list-col">
						<div class="modal-delivery__list-block">
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Иванacово</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Ижевск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Иркутск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Казань</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Калининград</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Калуга</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Кемерово</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Краснодар</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Красноярск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Курск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Липецк</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Магнитогорск</a>
							</li>
						</div>
					</div>
					<div class="modal-delivery__list-col">
						<div class="modal-delivery__list-block">
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Москва</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Санкт-Петербург</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Архангельск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Астрахань</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Барнаул</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Белгород</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Брянск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Владивосток</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Владимир</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Волгоград</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Воронеж</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Екатеринбург</a>
							</li>
						</div>
					</div>
					<div class="modal-delivery__list-col">
						<div class="modal-delivery__list-block">
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Иванacово</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Ижевск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Иркутск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Казань</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Калининград</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Калуга</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Кемерово</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Краснодар</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Красноярск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Курск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Липецк</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Магнитогорск</a>
							</li>
						</div>
					</div>
				</ul>

			</div>
		</form>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--delivery modal--delivery modal--delivery-min" id="modal-delivery-min">
	<div class="modal-delivery modal-delivery--min">
		<div class="modal__top">
			<svg class="modal__top-ico delivery-min-modal-ico">
				<use xlink:href="#delivery-min-modal"></use>
			</svg>
		</div>
		<h3 class="modal__title">Доставка<br> Санкт-Петербург</h3>
		<form action="#" class="modal-delivery__form">
			<div class="modal-delivery__form-row">
				<div class="modal-delivery__search">
					<input type="text" class="input input--border modal-delivery__search-input filter" placeholder="Search..." name="liveFilter2">
					
					<button type="submit" class="modal-delivery__search-submit">
						<svg class="modal-delivery__search-ico search-white-ico">
							<use xlink:href="#search-white"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="modal-delivery__container">
				<ul class="modal-delivery__list js-filter-delivery-min">
					<div class="modal-delivery__list-col">
						<div class="modal-delivery__list-block">
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Москва</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Санкт-Петербург</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Архангельск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Астрахань</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Барнаул</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Белгород</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Брянск</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Владивосток</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Владимир</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Волгоград</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Воронеж</a>
							</li>
							<li class="modal-delivery__list-item">
								<a href="#modal-delivery-min" class="modal-delivery__list-link js-popup-min">Екатеринбург</a>
							</li>
						</div>
					</div>
				</ul>

			</div>
		</form>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--thx-subscribe" id="modal-thx-subscribe">
	<div class="modal-thx-subscribe">
		<span class="modal-thx-subscribe__text">Спасибо за подпску!</span>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>

<div class="modal modal--popup modal--action-share" id="modal-action-share">
	<div class="modal-action-share">
		<h3 class="modal-action-share__title">Скидка 15% на одежду для малышей</h3>
		<ul class="modal-action-share__list">
			<li class="modal-action-share__list-item">Укажите при оформлении код купона “KODKUPONA15” или сообщите его менеджеру по телефону</li>
			<li class="modal-action-share__list-item">Промокод действителен до 07.10.2016 включительно</li>
			<li class="modal-action-share__list-item">Промокод действует на товары со скидками</li>
			<li class="modal-action-share__list-item">Ваша личная скидка суммируется с промокодом</li>
		</ul>
	</div>
	<a href="#" class="modal__close">
		<svg class="modal__close-ico close-modal-ico">
			<use xlink:href="#close-modal"></use>
		</svg>
	</a>
</div>
