<div class="main-banner main-banner--full">
	<ul class="main-banner__list">
		<li class="main-banner__list-item">
		  <div class="main-banner__right" style="background: url('pic/banners/banners-03.jpg') top center no-repeat;background-size:cover;">
			</div>
			<div class="main-banner__left">
		  	<div class="main-banner__box">
		  		<div class="main-banner__top">
		  			<span class="main-banner__top-year">2016</span>
		  			<span class="main-banner__top-text">осенняя коллекция</span>
		  		</div>
		  		<span class="main-banner__title">Mayoral.<br> Выбираем шорты <br> и свитшоты на осень. <br></span>
		  		<ul class="action-banner__list">
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Flamingo</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Indigo Kids</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Mursu</a>
						</li>
						<li class="action-banner__list-item">
							<a href="#" class="action-banner__list-link">Зебра</a>
						</li>
					</ul>
					<div class="banner-line"></div>
					<span class="main-banner__coupon">код купона: BOYS10</span>
					<div class="main-banner__bottom">
						<a href="#" class="btn btn--green main-banner__link main-banner__link--left">Подробнее</a>
					</div>
		  	</div>
		  </div> 
		</li>
	</ul>
</div>
