	</div><!-- FOOTER FIX [END] -->

	<!-- FOOTER -->
	<footer class="footer">
		<div class="container">
			<div class="footer-box">
				<div class="footer__top">
					<div class="footer-nav">
						<div class="footer-nav__col">
							<h3 class="footer-nav__title">ДЛЯ ПОКУПАТЕЛЕЙ</h3>
							<ul class="footer-nav__list">
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Правила продажи (оферта)</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Возврат и обмен</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Накопительные скидки</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Промокоды</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Яндекс. Маркет</a>
									<div class="stars">
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
										<i class="stars__ico icon-star"></i>
									</div>
								</li>
							</ul>
						</div>
						<div class="footer-nav__col">
							<h3 class="footer-nav__title">СОТРУДНИЧЕСТВО</h3>
							<ul class="footer-nav__list">
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Правила продажи (оферта)</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Возврат и обмен</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Накопительные скидки</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Промокоды</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Яндекс. Маркет</a>
								</li>
							</ul>
						</div>
						<div class="footer-nav__col">
							<h3 class="footer-nav__title">КОМПАНИЯ</h3>
							<ul class="footer-nav__list">
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Правила продажи (оферта)</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Возврат и обмен</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Накопительные скидки</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Промокоды</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="#" class="footer-nav__list-link">Яндекс. Маркет</a>
								</li>
							</ul>
						</div>
						<div class="footer-nav__col">
							<h3 class="footer-nav__title">КАЛЛ-ЦЕНТР</h3>
							<ul class="footer-nav__list">
								<li class="footer-nav__list-item">
									<a href="tel:88003331577" class="footer-nav__list-link">8 (800) 333 15 77</a>
								</li>
								<li class="footer-nav__list-item">
									<a href="mailto:ab@kinderly.ru" class="footer-nav__list-link">ab@kinderly.ru</a>
								</li>
								<li class="footer-nav__list-item">
									<span class="footer-nav__list-static">с 9:00 до 21:00</span>
								</li>
							</ul>
							<a href="#contact-popup" class="btn btn--gray btn--phone footer-nav__phone js-popup-medium">
								<svg class="btn__ico ring-black-ico">
									<use xlink:href="#ring-black"></use>
								</svg>
								<span class="btn__text">Заказать звонок</span>
							</a>
						</div>
					</div>
				</div>
				<div class="footer__center">
					<div class="footer__center-left">
						<div class="subscription">
							<h3 class="subscription__title">ПОДПИШИТЕСЬ НА РАССЫЛКУ</h3>
							<span class="subscription__share">Будьте в курсе выгодных событий и получите скидку 5%</span>
							<form action="back/form.php" class="subscription__form" id="subscription__form">
								<div class="subscription__form-left">
									<input type="text" class="input subscription__form-input" placeholder="Введите свой e-mail" required>
								</div>
								<div class="subscription__form-right">
									<button type="submit" class="btn btn--gray">Подписаться</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer__center-right">
						<div class="social">
							<h3 class="social__title">МЫ В СОЦСЕТЯХ</h3>
							<ul class="social__list">
								<li class="social__list-item">
									<a href="#" class="social__list-link">
										<svg class="social__list-ico vk-ico">
											<use xlink:href="#vk"></use>
										</svg>
									</a>
								</li>
								<li class="social__list-item">
									<a href="#" class="social__list-link">
										<svg class="social__list-ico fb-ico">
											<use xlink:href="#fb"></use>
										</svg>
									</a>
								</li>
								<li class="social__list-item">
									<a href="#" class="social__list-link">
										<svg class="social__list-ico inst-ico">
											<use xlink:href="#inst"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<span class="footer__copyright"><span class="footer__copyright-top">Copyright © 20М11- 2016 <span class="mobile-br">«Kinderly — детская одежда и обувь онлайн»</span></span>
					Все права защищены. Полное или частичное копирование материалов запрещено. При использовании материалов сайта необходима ссылка на ресурс.</span>		
				</div>
			</div>
		</div>
	</footer><!-- FOOTER END -->

	<div class="overlay"></div>
	
	@@include('template/blocks/popups.html')

	<!-- Scripts load -->
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.3.min.js"><\/script>')</script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/widgets.js"></script>
	<script src="js/functions.js"></script>
	
	</body>
</html>